/******************************************************************************\
|                                                                              |
|                          light-comment-bubbles.less                          |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// light comment bubble colors
//

@light-comment-bubble-color: @dark-text-color;
@light-comment-bubble-background-color: white;
@light-comment-bubble-border-color: @light-comment-bubble-background-color;
@light-comment-bubble-arrow-color: @light-comment-bubble-border-color;
@light-comment-bubble-title-color: @light-link-color;
@light-comment-bubble-link-color: @light-link-color;

//
// light comment bubble styles
//

body:not(.binary).light {
	.comment-bubble {
	
		> .comment-inner {
			color: @light-comment-bubble-color;
			background-color: @light-comment-bubble-background-color;
			border-color: @light-comment-bubble-border-color;

			.title, .title a {
				color: @light-comment-bubble-title-color;
			}

			a {
				color: @light-comment-bubble-link-color;
			}
		}

		//
		// light comment arrows
		//

		&.top > .comment-arrow {
			border-top-color: @light-comment-bubble-arrow-color;
		}
		&.right > .comment-arrow {
			border-right-color: @light-comment-bubble-arrow-color;
		}
		&.left > .comment-arrow {
			border-left-color: @light-comment-bubble-arrow-color;
		}
		&.bottom > .comment-arrow {
			border-bottom-color: @light-comment-bubble-arrow-color;
		}
	}
}