/******************************************************************************\
|                                                                              |
|                           light-comment-replies.less                         |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// light comment reply colors
//

@light-reply-title-color: @medium-grey;
@light-reply-text-color: @dark-text-color;
@light-reply-background-color: @light-comment-background-color;
@light-reply-border-color: @light-comment-background-color;
@light-reply-arrow-color: @light-reply-background-color;

//
// light comment reply styles
//

body:not(.binary).light {
	.replies-list {

		//
		// light unselected comment replies
		//

		> .reply:not(.selected) > .info > .comment-bubble {

			> .comment-inner {
				color: @light-reply-text-color;
				background-color: @light-reply-background-color;
				border-color: @light-reply-border-color;

				.title {
					color: @light-reply-title-color;
				}
			}

			//
			// light unselected comment reply arrows
			//

			&.top > .comment-arrow {
				border-top-color: @light-reply-arrow-color;
			}
			&.right > .comment-arrow {
				border-right-color: @light-reply-arrow-color;
			}
			&.left > .comment-arrow {
				border-left-color: @light-reply-arrow-color;
			}
			&.bottom > .comment-arrow {
				border-bottom-color: @light-reply-arrow-color;
			}
		}
	}
}