/******************************************************************************\
|                                                                              |
|                            light-post-comments.less                          |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// light post comment colors
//

@light-comment-title-color: @medium-grey;
@light-comment-text-color: @dark-text-color;
@light-comment-background-color: @light-panel-color;
@light-comment-border-color: @light-comment-background-color;
@light-comment-arrow-color: @light-comment-background-color;

//
// light post comment styles
//

body:not(.binary).light {
	.comments-list {

		//
		// light unselected post comments
		//

		> .comment:not(.selected) > .info > .comment-bubble {

			> .comment-inner {
				color: @light-comment-text-color;
				background-color: @light-comment-background-color;
				border-color: @light-comment-border-color;

				.title {
					color: @light-comment-title-color;

					a {
						color: @light-comment-title-color;
					}
				}
			}

			//
			// light unselected post comment arrows
			//

			&.top > .comment-arrow {
				border-top-color: @light-comment-arrow-color;
			}
			&.right > .comment-arrow {
				border-right-color: @light-comment-arrow-color;
			}
			&.left > .comment-arrow {
				border-left-color: @light-comment-arrow-color;
			}
			&.bottom > .comment-arrow {
				border-bottom-color: @light-comment-arrow-color;
			}
		}
	}
}