/******************************************************************************\
|                                                                              |
|                           light-chat-messages.less                           |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// message properties
//

@light-user-comment-color: @dark-text-color;
@light-user-comment-background-color: white;
@light-connection-comment-color: @dark-text-color;
@light-connection-comment-background-color: lighten(@very-very-light-grey, 5%);

//
// message styles
//

body:not(.binary).light {
	.messages-list {
		.user.message:not(.selected) {
			.comment-inner {
				color: @light-user-comment-color;
				background-color: @light-user-comment-background-color;
				border-color: @light-user-comment-background-color;
			}

			.comment-arrow {
				border-right-color: @light-user-comment-background-color;
			}
		}

		.connection.message:not(.selected) {
			.comment-inner {
				color: @light-connection-comment-color;
				background-color: @light-connection-comment-background-color;
				border-color: @light-connection-comment-background-color;
			}

			.comment-arrow {
				border-left-color: @light-connection-comment-background-color;
			}
		}
	}
}