/******************************************************************************\
|                                                                              |
|                                  spinners.less                               |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// spinner colors
//

@spinner-color: black;
@spinner-background-color: fade(white, 50%);

//
// spinners
//

.spinner {
	display: none;
	position: absolute;
	border-width: 25px;
	border-style: solid;
	border-top-width: 25px;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	top: 50%;
	left: 50%;
	margin-left: -50px;
	margin-top: -50px;
	object-fit: cover;
	box-shadow: none;
	border-color: @spinner-background-color;
	border-top-color: @spinner-color;
}
	
.loading.spinner, .loading .spinner {
	display: block !important;

	// animation
	//
	animation: spinning-keyframes 2s linear infinite;
	-webkit-transform: rotateZ(360deg);
}