/******************************************************************************\
|                                                                              |
|                            medium-desktop.less                               |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// desktop colors
//

@desktop-background-color: @medium-grey;
@desktop-footer-bar-color: @very-very-very-light-grey;
@desktop-footer-bar-opacity: @max-plate-glass-opacity;
@desktop-footer-bar-item-shadow: 2px 2px 10px fade(black, 33%);
@run-menu-box-shadow: 10px 10px 20px fade(black, 25%);

@desktop-info-bar-color: white;
@desktop-info-bar-icon-color: white;
@desktop-info-bar-background-color: @very-light-grey;
@desktop-info-bar-shadow: @desktop-footer-bar-item-shadow;

//
// desktop styles
//

body:not(.binary) {
	#desktop, .desktop.preview {

		//
		// desktop background color
		//

		background-color: @desktop-background-color;
	}

	#desktop,
	#desktop.auto,
	#desktop.medium {
		.desktop.app {

			//
			// desktop footer bars
			//

			> .footer-bar {
				background-color: @desktop-footer-bar-color;
				border-color: @desktop-footer-bar-color;

				//
				// desktop run menus
				//

				.run-menu .menu-bar {
					.icon-grid {
						box-shadow: @run-menu-box-shadow;
					}
				}

				//
				// desktop info bars
				//

				.desktop-info-bar {
					color: @desktop-info-bar-color;
					.flat(@desktop-info-bar-background-color);
					box-shadow: @desktop-info-bar-shadow;

					.info-bar {
						i {
							color: @desktop-info-bar-icon-color;
						}
					}

					.toolbar .button:not(:hover) {
						i {
							color: @desktop-info-bar-icon-color;
						}
					}
				}
			}
		}
	}
}