/******************************************************************************\
|                                                                              |
|                            medium-scrollbars.less                            |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// scrollbar colors
//

@scrollbar-color: @accent-color;
@scrollbar-hover-color: darken(@scrollbar-color, 10%);

//
// scrollbar styles
//

body:not(.binary).colored.orange-accented {
	&:not(.dark) {

		//
		// scrollbar thumbs
		//

		::-webkit-scrollbar-thumb:not(:active) {
			background-color: @scrollbar-color;
		}

		::-webkit-scrollbar-thumb:not(:active):hover {
			background-color: @scrollbar-hover-color;
		}
	}
}