/******************************************************************************\
|                                                                              |
|                          dark-comment-bubbles.less                           |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// dark comment bubble colors
//

@dark-comment-bubble-color: @light-text-color;
@dark-comment-bubble-background-color: @dark-grey;
@dark-comment-bubble-border-color: @dark-comment-bubble-background-color;
@dark-comment-bubble-arrow-color: @dark-comment-bubble-border-color;
@dark-comment-bubble-title-color: white;
@dark-comment-bubble-link-color: white;

//
// dark comment bubble styles
//

body:not(.binary).dark {
	.comment-bubble {
	
		> .comment-inner {
			color: @dark-comment-bubble-color;
			background-color: @dark-comment-bubble-background-color;
			border-color: @dark-comment-bubble-border-color;

			.title, .title a {
				color: @dark-comment-bubble-title-color;
			}

			a {
				color: @dark-comment-bubble-link-color;
			}
		}

		//
		// dark comment arrows
		//

		&.top > .comment-arrow {
			border-top-color: @dark-comment-bubble-arrow-color;
		}
		&.right > .comment-arrow {
			border-right-color: @dark-comment-bubble-arrow-color;
		}
		&.left > .comment-arrow {
			border-left-color: @dark-comment-bubble-arrow-color;
		}
		&.bottom > .comment-arrow {
			border-bottom-color: @dark-comment-bubble-arrow-color;
		}
	}
}