/******************************************************************************\
|                                                                              |
|                           dark-comment-replies.less                          |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// dark comment reply colors
//

@dark-reply-title-color: white;
@dark-reply-text-color: @light-text-color;
@dark-reply-link-color: white;
@dark-reply-background-color: @dark-comment-background-color;
@dark-reply-border-color: @dark-reply-background-color;
@dark-reply-arrow-color: @dark-reply-background-color;

//
// dark comment reply styles
//

body:not(.binary).dark {
	.replies-list {

		//
		// dark unselected comment replies
		//

		> .reply:not(.selected) > .info > .comment-bubble {
		
			> .comment-inner {
				color: @dark-reply-text-color;
				background-color: @dark-reply-background-color;
				border-color: @dark-reply-border-color;

				.title {
					color: @dark-reply-title-color;
				}

				a {
					color: @dark-reply-link-color;
				}
			}

			//
			// dark unselected comment reply arrows
			//

			&.top > .comment-arrow {
				border-top-color: @dark-reply-arrow-color;
			}
			&.right > .comment-arrow {
				border-right-color: @dark-reply-arrow-color;
			}
			&.left > .comment-arrow {
				border-left-color: @dark-reply-arrow-color;
			}
			&.bottom > .comment-arrow {
				border-bottom-color: @dark-reply-arrow-color;
			}
		}
	}
}