/******************************************************************************\
|                                                                              |
|                            dark-chat-messages.less                           |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// message properties
//

@dark-user-comment-color: @light-text-color;
@dark-user-comment-background-color: @very-very-very-dark-grey;
@dark-connection-comment-color: @light-text-color;
@dark-connection-comment-background-color: @dark-grey;

//
// message styles
//

body:not(.binary).dark {
	.messages-list {

		.user.message:not(.selected) {
			.comment-inner {
				color: @dark-user-comment-color;
				background-color: @dark-user-comment-background-color;
				border-color: @dark-user-comment-background-color;
			}

			.comment-arrow {
				border-right-color: @dark-user-comment-background-color;
			}
		}

		.connection.message:not(.selected) {
			.comment-inner {
				color: @dark-connection-comment-color;
				background-color: @dark-connection-comment-background-color;
				border-color: @dark-connection-comment-background-color;
			}

			.comment-arrow {
				border-left-color: @dark-connection-comment-background-color;
			}
		}
	}
}