/******************************************************************************\
|                                                                              |
|                             dark-desktops.less                               |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// dark desktop styles
//

body.binary.dark {

	//
	// dark desktops
	//

	#desktop {
		.dark-grey();

		img {
			image-rendering: auto;
		}
	}

	//
	// dark desktop apps
	//

	.desktop.app {
		background: none;

		// use desktop background instead of app background
		//
		> .body {
			background: none;

			.app {
				background: none;

				> .header-bar {
					.light-grey();
				}
		
				> .body {
					background: none;

					> .contents {
						background: none;

						.mainbar > .items {
							background: none;
						}
					}
				}
			}
		}

		//
		// selection boxes
		//

		.selection {
			color: white;
			.lighten-less();
			background-image: @lighten-light-4x4-alt;
		}

		.drag-image {
			border-color: white;
		}

		.footer-bar {
			.light-grey();

			.desktop-info-bar {
				.outline-text();

				.button.btn-sm:hover {
					i {
						.unoutline-text();
					}
				}
			}
		}
	}

	.desktop.preview {
		.dark-grey();
		// .black();
	}
}