/******************************************************************************\
|                                                                              |
|                             light-item-pages.less                            |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// light page list styles
//

body:not(.binary).light {
	.pages {
	
		.main-carousel {

			//
			// light items
			//

			.item {
				.name {

					//
					// light editable names
					//
				
					&[contenteditable="true"] {
						outline-color: @light-edit-highlight-color;
					}
				}
			}

			//
			// light selected items
			//

			.item.selected {

				.icon {
					background-color: @light-icon-selected-background-color;
					border-color: @light-icon-selected-border-color;

					> i {
						color: @light-select-color;
					}
				}

				.details {
					background-color: @light-select-color;
				}
			}
		}
	}
}