/******************************************************************************\
|                                                                              |
|                             light-item-cards.less                            |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// light card grid colors
//

@light-cards-background-color: transparent;
@light-cards-border-color: transparent;

@light-card-selected-background-color: fade(@light-select-color, 50%);
@light-card-selected-background-color: @light-select-color;
@light-card-selected-border-color: @light-select-color;

//
// light card grid styles
//

body:not(.binary).light {
	.card-grid {
	
		.cards {
			background-color: @light-cards-background-color;
			border-color: @light-cards-border-color;

			//
			// light items
			//
			
			.item {
				.card {
					.info {
						.name {

							//
							// light editable names
							//
						
							&[contenteditable="true"] {
								outline-color: @light-edit-highlight-color;
							}
						}
					}
				}
			}

			//
			// light selected items
			//

			.item.selected {
				.card {
					.info {
						.name {

							//
							// uneditable names
							//

							&:not([contenteditable="true"]) {
								color: white;
							}
						}

						.details {
							color: white;
							background-color: @light-select-color;
						}
					}
				}
			}
		}
	}
}