/******************************************************************************\
|                                                                              |
|                                 light-panels.less                            |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// light panel colors
//

@light-panel-color: lighten(@very-very-very-light-grey, 2.5%);
@light-panel-title-color: @brand-light;
@light-panel-label-color: @brand-dark;
@light-panel-content-color: white;
@light-panel-hover-color: white;
@light-panel-selected-color: @brand-light;
@light-panel-border-color: darken(@light-panel-color, 5%);
@light-nested-panel-color: white;

//
// light panel styles
//

body:not(.binary).light {
	.panel, ul.panels > li {

		//
		// panel list items
		//

		&.panel {
			.flat(@light-panel-color);
			// border-color: @light-panel-border-color;
		}

		//
		// light panel labels
		//

		label {
			color: @light-panel-label-color;
		}

		//
		// light panel content
		//

		.content {
			background-color: @light-panel-content-color;
			border-color: @light-panel-border-color;
			
			.title {
				i {
					color: @light-panel-title-color;
				}
			}

			.details {
				border-top-color: @light-panel-border-color;
			}
		}

		.selected .content {
			color: white;
			background-color: @light-panel-selected-color;

			a {
				color: white;
			}
		}
	}

	//
	// light transparent panels
	//

	&.transparent, &.translucent {
		.modal-dialog:not(.maximized) {
			.panel:not(.selected), ul.panels > li:not(.selected) {
				border-color: @light-panel-border-color;
			}
		}
	}

	/*
	&.transparent .desktop.app {
		.panel, ul.panels > li {
			.plate-glass(@light-panel-color);
		}
	}

	&.translucent .desktop.app {
		.panel, ul.panels > li {
			.frosted-glass(@light-panel-color);
		}
	}
	*/

	//
	// light nested panels
	//

	.panel {
		.panel {
			background-color: @light-nested-panel-color;
		}
	}

	.mainbar .panel {
		.card-grid .cards .item:not(.highlighted):not(.selected) > .card {
			background-color: @light-nested-panel-color;
		}
	}

	//
	// light panel lists
	//

	ul.panels > li {
		&:hover {
			background-color: @light-panel-color;
		}
	}
}