/******************************************************************************\
|                                                                              |
|                                dark-apps.less                                |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// dark app colors
//

@dark-app-background-color: darken(@very-dark-grey, 5%);
@dark-app-sidebar-color: darken(@dark-app-background-color, 10%);
@dark-app-sidebar-panel-color: @dark-panel-color;
@dark-app-sidebar-header-background-color: transparent;
@dark-app-sidebar-label-color: white;
@dark-app-border-color: lighten(@dark-app-background-color, 10%);

//
// dark app styles
//

body:not(.binary).dark {
	.app {
	
		.header-bar, .footer-bar {
			color: @light-text-color;
			background: darken(@dark-app-background-color, 10%);

			.app-bar, .info-bar, .address-bar, .toolbar {

				i {
					color: @light-grey;
				}
			
				.button.selected, .input-group-addon.btn {
					i {
						color: inherit;
					}
				}

				.button:hover {
					i {
						color: inherit;
					}
				}
			}

			//
			// dark breadcrumb links
			//

			.address-bar {
				.breadcrumb a {
					color: @dark-text-color;
				}
			}

			//
			// dark item separators
			//

			> div {
				border-color: @dark-app-border-color;
			}
		}

		.body, .body-region {
			border-color: @dark-app-background-color;

			> .contents {
				border-color: @dark-app-border-color;

				> .split {
					border-color: @dark-app-border-color;

					&.sidebar {
						background-color: @dark-app-sidebar-color;

						.header {
							background-color: @dark-app-sidebar-header-background-color;
						}

						.panels {
							.panel {
								label {
									color: @dark-app-sidebar-label-color;

									.panels {
										.panel {
											background-color: @dark-app-sidebar-panel-color;
										}
									}
								}
							}
						}
					}
				}
			}
		}

		//
		// panels following apps
		//

		& + .panel {
			border-color: @dark-app-border-color;
		}
	}

	//
	// dark opaque app sidebars
	//

	&.opaque {
		.app {
			.body, .body-region {
				.contents {
					> .sidebar {
						background-color: @dark-app-sidebar-color;
					}
				}
			}
		}
	}

	//
	// dark transparent app sidebars
	//

	&.transparent, &.translucent {
		.app {
			.body, .body-region {
				.contents {
					> .sidebar {
						background-color: fade(@dark-app-sidebar-color, 50%);
					}
				}
			}
		}
	}

	//
	// app sidebar panels
	//

	&.sidebar-panels {
		.app {
			.body, .body-region {
				.contents {
					> .sidebar {

						.header {
							background-color: transparent;
						}

						.panel {
							background-color: @dark-app-sidebar-panel-color;
						}
					}
				}
			}
		}
	}
}