/******************************************************************************\
|                                                                              |
|                           dark-desktop-apps.less                             |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// dark desktop app colors
//

@dark-desktop-header-bar-color: @light-text-color;
@dark-desktop-header-bar-icon-color: @light-grey;
@dark-desktop-header-bar-background-color: @very-very-dark-grey;

@dark-desktop-sidebar-panels-color: fade(@dark-panel-color, 50%);
@dark-desktop-mainbar-background-color: darken(@very-very-dark-grey, 5%);

@dark-transparent-sidebar-color: fade(@dark-app-sidebar-color, 50%);
@dark-transparent-sidebar-label-color: white;
@dark-transparent-sidebar-panel-color: fade(@dark-grey, 25%);

//
// dark desktop app styles
//

body:not(.binary).dark {
	.desktop.app {
		> .body {
			> .app {

				//
				// dark desktop header bars
				//

				.header-bar {
					color: @dark-desktop-header-bar-color;
					.flat(@dark-desktop-header-bar-background-color, @dark-border-style);

					.app-bar {
						color: white;

						> i {
							color: white;
						}				
					}

					.menu-bar {
						> ul.nav-menus {
							> li:not(.open) {
								> a {
									color: @dark-desktop-header-bar-color;

									> i {
										color: @dark-desktop-header-bar-icon-color;
									}
								}
							}
						}
					}

					.toolbar {
						.button:not(.selected):not(:hover) {
							> i {
								color: @dark-desktop-header-bar-icon-color;
							}
						}
					}

					.clock {
						.icon {
							> i {
								color: @dark-desktop-header-bar-icon-color;
							}		
						}
					}
				}
			}
		}
	}

	&.dark #desktop {
		.desktop.app > .body > .app {
			.mainbar {
				background-color: @dark-desktop-mainbar-background-color;
			}
		}
	}

	//
	// dark transparent desktop header bars
	//

	&.transparent, &.translucent {
		&.dark #desktop,
		#desktop.dark {
			.desktop.app > .body > .app {

				> .header-bar {
					.plate-glass(@dark-desktop-header-bar-background-color,
					@desktop-header-bar-opacity);
				}
			}
		}
	}

	//
	// dark opaque desktop app sidebars
	//

	&.opaque #desktop.auto-sidebars,
	#desktop.opaque-sidebars {
		.desktop.app {
			> .body, > .body-region {
				.contents {
					> .sidebar {
						background-color:  @dark-app-sidebar-color;
					}
				}
			}
		}
	}

	//
	// dark transparent desktop app sidebars
	//

	&.transparent #desktop.auto-sidebars,
	#desktop.transparent-sidebars {
		.desktop.app {
			> .body, > .body-region {
				.contents {
					> .sidebar {
						color: white;
						background-color: transparent;

						.panels > .panel, label {
							color: white;
						}
					}
				}
			}
		}
	}

	//
	// dark translucent desktop app sidebars
	//

	&.translucent #desktop.auto-sidebars,
	#desktop.translucent-sidebars {
		.desktop.app {
			> .body, > .body-region {
				.contents {
					> .sidebar {
						background-color: @dark-transparent-sidebar-color;
						.frosted();
					}
				}
			}
		}
	}

	//
	// dark opaque desktop app sidebar panels
	//

	#desktop.opaque-sidebars.sidebar-panels,
	&.opaque #desktop.auto-sidebars.sidebar-panels,
	&.sidebar-panels #desktop.auto-sidebar-panels.opaque-sidebars,
	&.opaque.sidebar-panels #desktop.auto-sidebar-panels.auto-sidebars {
		.desktop.app {
			> .body, > .body-region {
				.contents {
					> .sidebar {
						background-color: @dark-app-sidebar-color;

						.panels {
							background-color: @dark-desktop-sidebar-panels-color;

							.panel {
								background-color: @dark-app-sidebar-panel-color;
							}
						}
					}
				}
			}
		}
	}

	//
	// dark transparent desktop app sidebar panels
	//

	#desktop.trnsparent-sidebars.sidebar-panels,
	&.transparent #desktop.auto-sidebars.sidebar-panels,
	&.sidebar-panels #desktop.auto-sidebar-panels.transparent-sidebars,
	&.transparent.sidebar-panels #desktop.auto-sidebar-panels.auto-sidebars {
		.desktop.app {
			> .body, > .body-region {
				.contents {
					> .sidebar {
						background-color: transparent;

						.panels {
							background-color: @dark-desktop-sidebar-panels-color;

							.panel {
								.plate-glass(@dark-app-sidebar-panel-color, 50%, 75%);
								color: white !important;

								.panels > .panel, label {
									color: white !important;
								}
							}
						}
					}
				}
			}
		}
	}

	//
	// dark translucent desktop app sidebar panels
	//

	#desktop.translucent-sidebars.sidebar-panels,
	&.translucent #desktop.auto-sidebars.sidebar-panels,
	&.sidebar-panels #desktop.auto-sidebar-panels.translucent-sidebars,
	&.translucent.sidebar-panels #desktop.auto-sidebar-panels.auto-sidebars {
		.desktop.app {
			> .body, > .body-region {
				.contents {
					> .sidebar {
						.clear();

						.panels {
							background-color: @dark-desktop-sidebar-panels-color;
							.frosted();

							.panel {
								.plate-glass(@dark-app-sidebar-panel-color, 50%, 75%);
								.frosted();
							}
						}
					}
				}
			}
		}
	}
}