/******************************************************************************\
|                                                                              |
|                             dark-modal-apps.less                             |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// dark modal app colors
//

@dark-app-unfocused-background-color: darken(@dark-app-background-color, 10%);
@dark-app-unfocused-sidebar-color: @dark-app-sidebar-color;
@dark-app-unfocused-sidebar-panel-color: @dark-app-sidebar-panel-color;
@dark-app-unfocused-border-color: darken(@dark-app-border-color, 10%);

//
// dark modal app styles
//

body:not(.binary).dark {
	.modals {

		//
		// dark modal apps
		//

		.modal {
			.modal-dialog .app {
				.body, .body-region {
					> .contents {
						> .mainbar {
							background: black !important;
						}
					}
				}
			}
		}

		//
		// dark focused modal apps
		//

		.modal.focused .modal-dialog .app {

			.header-bar, .footer-bar, & + .panel {
				background-color: @dark-app-background-color;
			}

			.body, .body-contents {
				border-color: @dark-app-background-color;

				> .contents {
					border-color: @dark-app-border-color;

					> .split {
						border-color: @dark-app-border-color;

						&.sidebar {
							background-color: @dark-app-sidebar-color;
						}
					}
				}
			}

			.header-bar, .footer-bar, & + .panel {
				border-color: @dark-app-border-color;
			}
		}

		//
		// dark unfocused modal apps
		//

		.modal:not(.focused) .modal-dialog .app {

			.header-bar, .footer-bar, & + .panel  {
				background-color: @dark-app-unfocused-background-color;
			}

			.body, .body-contents {
				border-color: @dark-app-unfocused-background-color;

				> .contents {
					border-color: @dark-app-unfocused-border-color;

					> .split {
						border-color: @dark-app-unfocused-border-color;

						&.sidebar {
							background-color: @dark-app-unfocused-sidebar-color;
						}
					}
				}
			}

			.header-bar, .footer-bar, & + .panel  {
				border-color: @dark-app-unfocused-border-color;
			}
		}
	}

	//
	// dark transparent modal apps
	//

	&.transparent, &.translucent {
		.modals {
			.modal.focused {
				.modal-dialog .app {
					.body, .body-region {
						> .contents {
							> .sidebar {
								background-color: fade(@dark-app-sidebar-color, 50%);
							}
						}
					}
				}
			}

			.modal:not(.focused) {
				.modal-dialog .app {
					.body, .body-region {
						> .contents {
							> .sidebar {
								background-color: fade(@dark-app-unfocused-sidebar-color, 50%);
							}
						}
					}
				}
			}
		}
	}
}