/******************************************************************************\
|                                                                              |
|                              light-nav-bars.less                             |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// navbar colors
//

@light-navbar-color: black;
@light-navbar-background-color: white;

@light-navbar-active-color: white;
@light-navbar-active-background-color: black;

//
// navbar styles
//

/*
body.binary {
	&.light {
		.navbar-inverse {
			background-color: @light-navbar-background-color;
			border-color: @light-navbar-background-color;
			box-shadow: none;

			.navbar-brand {
				color: @light-navbar-color;

				.logo {
					filter: invert(1);
				}
			}

			.navbar-nav {
				
				> li {

					//
					// inactive state
					//

					> a {
						color: @light-navbar-color;

						label {
							.unoutline-text();
						}
					}

					//
					// active state
					//

					&.active {
						> a, > a:focus {
							color: @light-navbar-active-color;
							background-color: @light-navbar-active-background-color;

							&:hover {
								color: @light-navbar-active-color;
								background-color: @light-navbar-active-background-color;
							}
						}
					}

					//
					// open state
					//

					&.open { 
						> a, > a:focus {
							color: @light-navbar-active-color;
							background-color: @light-navbar-active-background-color;

							&:hover {
								color: @light-navbar-active-color;
								background-color: @light-navbar-active-background-color;
							}
						}
					}
				}

				//
				// nav bar indicators
				//
				
				.indicator {
					.bar {					
						.inner {
							background-color: @light-navbar-color;
						}
					}
				}

				//
				// apps bar
				//

				&.apps {
					border-color: @light-navbar-color;

					> li {
						&.current {

							> a {
								background-color: @light-navbar-color;

								i {
									color: @light-navbar-background-color;
								}
							}
						}
					}
				}
			}
		}
	}
}
*/