/******************************************************************************\
|                                                                              |
|                                 projects.less                                |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

.project:not(.item) {

	//
	// top down tasks
	//

	&:not(.bottom-up) {
		display: flex;
		flex-direction: column;

		.tasks {
			flex-grow: 1;
		}

		.pager {
			margin: 10px;
		}
	}

	//
	// bottom up tasks
	//

	&.bottom-up {
		display: flex;
		flex-direction: column-reverse;
		margin-top: 10px;

		.pager {
			margin: 10px;
		}

		.new-task {
			margin-bottom: 10px;
		}
	}
}

//
// extra small styles
//

@media (max-width: @screen-xs-min) {

	.project:not(.item) {

		//
		// tasks
		//

		.task.item {
			> .tile + .info {

				.title {
					display: inline;
				}

				.details {
					display: inline;
				}
			}
		}
	}
}	