/******************************************************************************\
|                                                                              |
|                             light-desktops.less                              |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

body.binary.light {

	//
	// light desktops
	//

	#desktop {
		.light-grey();

		img {
			image-rendering: auto;
		}
	}

	//
	// light desktop apps
	//

	.desktop.app {
		background: none;

		// use desktop background instead of app background
		//
		> .body {
			background: none;

			.app {
				background: none;

				> .body {
					background: none;

					> .contents {
						background: none;
					}
				}
			}
		}

		//
		// selection boxes
		//

		.selection {
			color: black;
			.darken-less();
			background-image: @darken-light-4x4;
		}
	}

	.desktop.preview {
		.light-grey();
		// .white();
	}
}