/******************************************************************************\
|                                                                              |
|                              dark-desktop.less                               |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// dark desktop colors
//

@dark-desktop-footer-bar-color: @very-dark-grey;

@dark-desktop-info-bar-color: @light-text-color;
@dark-desktop-info-bar-icon-color: @dark-menu-icon-color;
@dark-desktop-info-bar-background-color: @very-very-dark-grey;

//
// dark desktop styles
//

body:not(.binary) {
	&.dark #desktop.auto,
	#desktop.dark {

		//
		// dark desktop footer bars
		//

		.desktop.app > .footer-bar {
			background-color: @dark-desktop-footer-bar-color;
			border-color: @dark-desktop-footer-bar-color;

			//
			// dark desktop info bars
			//

			.desktop-info-bar {
				color: @dark-desktop-info-bar-color;
				.flat(@dark-desktop-info-bar-background-color, @dark-border-style);

				.info-bar {
					i {
						color: @dark-desktop-info-bar-icon-color;
					}
				}

				.toolbar .button:not(:hover) {
					i {
						color: @dark-desktop-info-bar-icon-color;
					}
				}
			}
		}
	}

	//
	// dark transparent desktop footer bars
	//

	/*
	&.transparent.flat, &.translucent.flat {
		&.dark #desktop.auto,
		#desktop.dark {
			.desktop.app > .footer-bar {
				.flat(fade(@dark-desktop-footer-bar-color, @desktop-footer-bar-opacity), @dark-border-style);
			}
		}
	}
	*/
}