/******************************************************************************\
|                                                                              |
|                           light-desktop-apps.less                            |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// light desktop app colors
//

@light-desktop-header-bar-color: @dark-text-color;
@light-desktop-header-bar-icon-color: @light-grey;
@light-desktop-header-bar-background-color: white;

@light-desktop-sidebar-panels-color: fade(@very-very-very-light-grey, 50%);

@light-transparent-sidebar-color: fade(white, 75%);
@light-transparent-sidebar-label-color: white;
@light-transparent-sidebar-panel-color: fade(white, 25%);

//
// light desktop app styles
//

body:not(.binary).light {
	.desktop.app {
		> .body {
			> .app {

				//
				// light desktop header bars
				//
		
				.header-bar {
					color: @light-desktop-header-bar-color;
					.flat(@light-desktop-header-bar-background-color, @light-border-style);
					border-color: @app-border-color;

					.app-bar {
						color: @dark-text-color;
						
						> i {
							color: @light-desktop-header-bar-icon-color;
						}				
					}

					.menu-bar {
						> ul.nav-menus {
							> li:not(.open) {
								> a {
									color: @light-desktop-header-bar-color;

									> i {
										color: @light-desktop-header-bar-icon-color;
									}
								}
							}
						}
					}

					.toolbar {
						.button:not(.selected):not(:hover) {
							> i {
								color: @light-desktop-header-bar-icon-color;
							}
						}
					}

					.clock {
						.icon {
							> i {
								color: @light-desktop-header-bar-icon-color;
							}		
						}
					}
				}
			}
		}
	}

	//
	// light transparent desktop header bars
	//

	&.transparent, &.translucent {
		&.light #desktop,
		#desktop.light {
			.desktop.app > .body > .app {

				> .header-bar {
					.plate-glass(@light-desktop-header-bar-background-color,
						@desktop-header-bar-opacity);
				}
			}
		}
	}

	//
	// light opaque desktop app sidebars
	//

	&.opaque #desktop.auto-sidebars,
	#desktop.opaque-sidebars {
		.desktop.app {
			> .body, > .body-region {
				.contents {
					> .sidebar {
						background-color: @light-app-sidebar-color;
					}
				}
			}
		}
	}

	//
	// light transparent desktop app sidebars
	//

	&.transparent #desktop.auto-sidebars,
	#desktop.transparent-sidebars {
		.desktop.app {
			> .body, > .body-region {
				.contents {
					> .sidebar {
						color: white;
						background-color: transparent;

						.panels > .panel, label {
							color: white;
						}
					}
				}
			}
		}
	}

	//
	// light translucent desktop app sidebars
	//

	&.translucent #desktop.auto-sidebars,
	#desktop.translucent-sidebars {
		.desktop.app {
			> .body, > .body-region {
				.contents {
					> .sidebar {
						background-color: @light-transparent-sidebar-color;
						.frosted();
					}
				}
			}
		}
	}

	//
	// light opaque desktop app sidebar panels
	//

	#desktop.opaque-sidebars.sidebar-panels,
	&.opaque #desktop.auto-sidebars.sidebar-panels,
	&.sidebar-panels #desktop.auto-sidebar-panels.opaque-sidebars,
	&.opaque.sidebar-panels #desktop.auto-sidebar-panels.auto-sidebars {
		.desktop.app {
			> .body, > .body-region {
				.contents {
					> .sidebar {
						background-color: @light-app-sidebar-color;

						.panels {
							background-color: @light-desktop-sidebar-panels-color;

							.panel {
								background-color: white;
							}
						}
					}
				}
			}
		}
	}

	//
	// light transparent desktop app sidebar panels
	//

	#desktop.transparent-sidebars.sidebar-panels,
	&.transparent #desktop.auto-sidebars.sidebar-panels,
	&.sidebar-panels #desktop.auto-sidebar-panels.transparent-sidebars,
	&.transparent.sidebar-panels #desktop.auto-sidebar-panels.auto-sidebars {
		.desktop.app {
			> .body, > .body-region {
				.contents {
					> .sidebar {
						background-color: transparent;

						.panels {
							background-color: @light-desktop-sidebar-panels-color;

							.panel {
								.plate-glass(white, 75%, 100%);
								color: @dark-text-color !important;

								.panels > .panel, label {
									color: @dark-text-color !important;
								}
							}
						}
					}
				}
			}
		}
	}

	//
	// light translucent desktop app sidebar panels
	//

	#desktop.translucent-sidebars.sidebar-panels,
	&.translucent #desktop.auto-sidebars.sidebar-panels,
	&.sidebar-panels #desktop.auto-sidebar-panels.translucent-sidebars,
	&.translucent.sidebar-panels #desktop.auto-sidebar-panels.auto-sidebars {
		.desktop.app {
			> .body, > .body-region {
				.contents {
					> .sidebar {
						.clear();

						.panels {
							background-color: @light-desktop-sidebar-panels-color;
							.frosted();

							.panel {
								.plate-glass(white, 50%, 100%);
								.frosted();
							}
						}
					}
				}
			}
		}
	}
}