/******************************************************************************\
|                                                                              |
|                              dark-splitters.less                             |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// dark splitter gutter colors
//

@dark-gutter-background-color: @dark-app-background-color;
@dark-gutter-border-color: @dark-app-border-color;
@dark-gutter-unfocused-background-color: @dark-app-unfocused-background-color;
@dark-gutter-unfocused-border-color: @dark-app-unfocused-border-color;

// dark splitter handle images
//
@dark-grip-image: url('../../../../images/splitters/dark-grip.png');
@dark-grip-horizontal-image: url('../../../../images/splitters/dark-horizontal-grip.png');
@dark-grip-vertical-image: url('../../../../images/splitters/dark-vertical-grip.png');

//
// dark splitter styles
//

body:not(.binary).dark {
	.split-view {
		.gutter {
			background-color: @dark-gutter-background-color;
			border-color: @dark-gutter-border-color;

			.handle {
				background-image: @dark-grip-image;
			}

			&.gutter-horizontal {
				.handle {
					background-image: @dark-grip-horizontal-image;
				}
			}

			&.gutter-vertical {
				.handle {
					background-image: @dark-grip-vertical-image;
				}
			}
		}
	}

	//
	// dark unfocucused splitters
	//

	.modal:not(.focused) .modal-dialog .split-view {
		.gutter {
			background-color: @dark-gutter-unfocused-background-color;
			border-color: @dark-gutter-unfocused-border-color;
		}
	}
}