/******************************************************************************\
|                                                                              |
|                            dark-panel-lists.less                             |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// dark panel item colors
//

@dark-panel-item-name-color: @light-text-color;
@dark-selected-panel-item-color: @light-text-color;
@dark-selected-panel-item-background-color: mix(@dark-panel-color, @highlight-color, 75%);
@dark-selected-panel-item-border-color: @highlight-color;

//
// dark post styles
//

body:not(.binary).dark {
	.panel.item {

		//
		// dark panel item info
		//

		> .info {
			.name {
				color: @dark-panel-item-name-color;
			}
		}

		//
		// dark selected panel items
		//

		&.selected {
			color: @dark-selected-panel-item-color;
			background-color: @dark-selected-panel-item-background-color;
			border-color: @dark-selected-panel-item-border-color;
		}
	}

	//
	// unfocused items
	//

	.modal:not(.focused) .modal-dialog,
	.desktop.app:not(.focused) > .body {

		.panel.item {

			//
			// dark selected panel items
			//

			&.selected {
				background-color: mix(@dark-panel-color, @highlight-color, 75%);
			}
		}
	}
}