/******************************************************************************\
|                                                                              |
|                                  dark-panels.less                            |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// dark panel colors
//

@dark-panel-color: @very-dark-grey;
@dark-panel-title-color: @very-very-very-light-grey;
@dark-panel-label-color: white;
@dark-panel-link-color: @very-very-light-grey;
@dark-panel-link-hover-color: white;
@dark-panel-content-color: @very-very-very-dark-grey;
@dark-panel-hover-color: darken(@dark-panel-color, 5%);
@dark-panel-selected-color: @brand-dark;
@dark-panel-border-color: lighten(@dark-panel-color, 5%);
@dark-nested-panel-color: @very-very-very-dark-grey;

//
// dark panel styles
//

body:not(.binary).dark {
	.panel, ul.panels > li {
		color: @light-text-color;

		//
		// panel list items
		//

		&.panel {
			.flat(@dark-panel-color);
			// border-color: @dark-panel-border-color;
		}

		//
		// dark panel labels
		//

		label {
			color: @dark-panel-label-color;
		}

		//
		// panel borders
		//

		.section {
			border-color: @dark-panel-border-color;
		}

		//
		// panel links
		//

		a {
			color: @dark-panel-link-color;

			&:hover {
				color: @dark-panel-link-hover-color;
			}
		}

		//
		// panel content
		//

		.content {
			background-color: @dark-panel-content-color;
			border-color: @dark-panel-border-color;
			
			.title {
				i {
					color: @dark-panel-title-color;
				}
			}
		}

		.selected .content {
			color: white;
			background-color: @dark-panel-selected-color;

			a {
				color: white;
			}
		}
	}

	//
	// dark transparent panels
	//

	&.transparent, &.translucent {
		.modal-dialog:not(.maximized) {
			.panel:not(.selected), ul.panels > li:not(.selected) {
				border-color: @dark-panel-border-color;
			}
		}
	}

	/*
	&.transparent .desktop.app {
		.panel, ul.panels > li {
			.plate-glass(@dark-panel-color);
		}
	}

	&.translucent .desktop.app {
		.panel, ul.panels > li {
			.frosted-glass(@dark-panel-color);
		}
	}
	*/

	//
	// dark nested panels
	//

	.panel {
		.panel {
			background-color: @dark-nested-panel-color;
		}
	}

	.mainbar .panel {
		.card-grid .cards .item:not(.highlighted):not(.selected) > .card {
			background-color: @dark-nested-panel-color;
		}
	}
	
	//
	// dark panel lists
	//

	ul.panels > li {
		&:hover {
			background-color: @dark-panel-hover-color;
		}
	}
}