/******************************************************************************\
|                                                                              |
|                               light-menus.less                               |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the SVG DOM element styles for this application.         |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// light menu colors
//

@light-menu-color: @light-app-background-color;
@light-menu-icon-color: @light-grey;
@light-menu-text-color: @dark-text-color;

@light-menu-disabled-color: none;
@light-menu-disabled-icon-color: @very-very-light-grey;
@light-menu-disabled-text-color: @very-very-light-grey;

@light-menu-border-color: @very-very-very-light-grey;
@light-menu-item-divider-color: @light-menu-border-color;

//
// light inline menu colors
//

@light-menu-inline-text-color: @dark-text-color;
@light-menu-inline-icon-color: @light-grey;
@light-menu-inline-item-odd-color: @light-odd-list-item-background-color;

//
// light menu styles
//

body:not(.binary).light {

	//
	// light dropdown menus
	//

	.dropdown-menu, .menu-content {
		background: @light-menu-color;
		border-color: @light-menu-border-color;
	}

	//
	// dropdown panels
	//

	ul.panels li {
		border-color: @light-menu-item-divider-color;
	}

	//
	// light transparent dropdowns
	//

	&.transparent {
		.dropdown-menu, .menu-content {
			.plate-glass(@light-menu-color, @frosted-glass-opacity);

			.panel, ul.panels > li:not(:hover) {
				background: none;
			}

			// nested dropdown menus
			//
			.dropdown-menu {
				background-color: @light-menu-color;
			}
		}
	}

	//
	// light translucent dropdowns
	//

	&.translucent {
		.dropdown-menu, .menu-content {
			.frosted-plate-glass(@light-menu-color);

			.panel, ul.panels > li:not(:hover) {
				background: none;
			}

			// nested dropdown menus
			//
			.dropdown-menu {
				background-color: @light-menu-color;
			}
		}
	}

	//
	// light menus
	//

	.menu, .dropdown-menu {
		color: @light-menu-text-color;
		border-color: @light-menu-border-color;

		//
		// light menu items
		//

		> li {

			//
			// light enabled menu items
			//

			&:not(.disabled) {
				color: @light-menu-text-color;
				
				> a {
					color: @light-menu-text-color;

					> i {
						color: @light-menu-icon-color;
						fill: @light-menu-icon-color;
					}

					//
					// light menu check marks
					//

					&:not(.app-item):not(:hover) {
						> i.fa-check {
							color: @light-menu-text-color;
						}
					}
				}
			}

			//
			// light disabled menu items
			//

			&.disabled {
				color: @light-menu-disabled-text-color;
				background-color: @light-menu-disabled-color;
				border-color: @light-menu-disabled-color;

				> a, > a:hover {
					color: @light-menu-disabled-text-color;

					> i {
						color: @light-menu-disabled-icon-color;
						fill: @light-menu-disabled-icon-color;
					}
				}
			}

			//
			// light dividers
			//

			&.divider:not(.disabled) {
				border-color: @light-menu-item-divider-color;
				background-color: @light-menu-item-divider-color;
			}
		}
	}

	//
	// light inline menus
	//

	.menu {

		//
		// light inline menu items
		//

		> li {

			//
			// light zebra striping
			//

			&:nth-child(odd) {
				background-color: @light-menu-inline-item-odd-color;
			}

			//
			// light enabled menu items
			//

			&:not(.disabled) {
				> a {
					color: @light-menu-inline-text-color;

					> i {
						color: @light-menu-inline-icon-color;
						fill: @light-menu-inline-icon-color;
					}
				}
			}
		}
	}
}