/******************************************************************************\
|                                                                              |
|                               light-badges.less                              |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// light badge colors
//

@light-badge-color: @medium-grey;
@light-badge-text-color: white;
@light-badge-border-color: white;

//
// light badge styles
//

body:not(.binary).light {
	.badge {
		color: @light-badge-text-color;
		background-color: @badge-color;
		border-color: @badge-border-color !important;

		i {
			color: @light-badge-text-color;
		}
	}
}