/******************************************************************************\
|                                                                              |
|                             light-task-bars.less                             |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// light task bar colors
//

@light-task-bar-item-color: @light-modal-header-color;
@light-task-bar-icon-color: @light-title-icon-color;
@light-task-bar-text-color: @light-title-color;

//
// light task bar styles
//

body:not(.binary).light {

	//
	// light unminimized task bars
	//

	#desktop:not(.task-bar-minimized) .task-bar {
		.task-list {
			li {
				.flat(@light-task-bar-item-color);

				i {
					color: @light-task-bar-icon-color;
				}

				.title {
					color: @light-task-bar-text-color;
				}
			}
		}
	}
}