/******************************************************************************\
|                                                                              |
|                                light-tabs.less                               |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// light tab colors
//

@light-tab-color: @very-very-very-light-grey;
@light-tab-icon-color: @medium-grey;
@light-tab-text-color: @dark-text-color;

@light-tab-hover-color: darken(@light-tab-color, 10%);
@light-tab-hover-icon-color: @light-tab-icon-color;
@light-tab-hover-text-color: @light-tab-text-color;

// light tab backgrounds
//
@light-tabs-background-color: @very-very-very-light-grey;
@light-tabs-border-color: darken(@very-very-very-light-grey, 5%);

//
// light tab styles
//

body:not(.binary).light {
	ul.nav-tabs {

		//
		// light inactive tabs
		//

		> li:not(.active) {
			> a,
			> a:focus {
				color: @light-tab-text-color;
				background-color: @light-tab-color;
				border-color: @light-tab-color;

				i {
					color: @light-tab-icon-color;
				}

				svg {
					fill: @light-tab-icon-color;
				}

				label {
					color: @light-tab-text-color;
				}
			}

			> a:hover {
				color: @light-tab-hover-text-color;
				background-color: @light-tab-hover-color;
				border-color: @light-tab-hover-color;

				i {
					color: @light-tab-hover-icon-color;
				}

				svg {
					fill: @light-tab-hover-icon-color;
				}

				label {
					color: @light-tab-hover-text-color;
				}
			}
		}
	}

	//
	// light tabbed content
	//

	.nav-tabs.flush {
		background-color: @light-tabs-background-color;
		border-color: @light-tabs-border-color !important;
	}
}