/******************************************************************************\
|                                                                              |
|                             light-scrollbars.less                            |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// light scrollbar colors
//

@light-scrollbar-color: @very-very-light-grey;
@light-scrollbar-hover-color: darken(@light-scrollbar-color, 10%);
@light-scrollbar-track-color: @very-very-very-light-grey;

//
// light scrollbar styles
//

body:not(.binary).light {

	//
	// light scrollbar thumbs
	//

	::-webkit-scrollbar-thumb {
		background-color: @light-scrollbar-color;
		border-color: @light-scrollbar-track-color;
	}

	::-webkit-scrollbar-thumb:hover {
		background-color: @light-scrollbar-hover-color;
	}

	//
	// light scrollbar tracks
	//

	::-webkit-scrollbar-track,
	::-webkit-scrollbar-corner {
		background-color: @light-scrollbar-track-color;
	}
}