/******************************************************************************\
|                                                                              |
|                            light-progress-bars.less                          |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// light progress bar colors
//

@light-progress-track-color: @ultra-light-grey;
@light-progress-bar-color: @light-button-color;

//
// light progress bar styles
//

body:not(.binary).light {
	.progress {
		background-color: @light-progress-track-color;
		border-color: darken(@light-progress-track-color, 10%);

		.bar {
			background-color: @light-progress-bar-color;
			border-color: darken(@light-progress-bar-color, 10%);
		}
	}
}