/******************************************************************************\
|                                                                              |
|                              light-buttons.less                              |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// light button colors
//

@light-button-color: lighten(@very-very-light-grey, 5%);
@light-button-label-color: @very-dark-grey;

//
// light primary button colors
//

@light-button-primary-color: @brand-light;
@light-button-primary-label-color: white;

//
// light disabled button colors
//

@light-button-disabled-color: @light-button-color;
@light-button-disabled-label-color: @medium-grey;

//
// light button styles
//

body:not(.binary).light {

	//
	// light buttons
	//

	.button {
		.color-button(@light-button-color);
		.label-button(@light-button-label-color);

		&.selected {
			.color-btn(@light-button-color);
		}
	}

	//
	// light styled buttons
	//

	.btn {
		.color-btn(@light-button-color);
		.label-btn(@light-button-label-color);

		//
		// light primary buttons
		//

		&.btn-primary {
			.color-btn(@light-button-primary-color);
			.label-btn(@light-button-primary-label-color);
		}

		//
		// light disabled buttons
		//

		&:disabled, &.btn-primary:disabled {
			.color-disabled-btn(@light-button-disabled-color);
			.label-disabled-btn(@light-button-disabled-label-color);
		}
	}
}