/******************************************************************************\
|                                                                              |
|                             dialog-headers.less                              |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// dialog header attributes
//

@modal-header-height: 30px;
@modal-thin-header-height: 25px;
@modal-thick-header-height: 35px;

//
// dialog headers
//

.modals {

	.modal {
		.modal-dialog {
			.modal-header {
				height: @modal-header-height;
			}

			.modal-content {
				max-height: calc(~"100% - "@modal-header-height);
			}
		}
	}

	&.small-buttons.thin-headers,
	&.medium-buttons.thin-headers {
		.modal {
			.modal-dialog {
				.modal-header {
					height: @modal-thin-header-height;
				}

				.modal-content {
					max-height: calc(~"100% - "@modal-thin-header-height);
				}
			}
		}
	}

	&.thick-headers {
		.modal {
			.modal-dialog {
				.modal-header {
					height: @modal-thick-header-height;
				}

				.modal-content {
					max-height: calc(~"100% - "@modal-thick-header-height);
				}
			}
		}
	}
}