/******************************************************************************\
|                                                                              |
|                                  weather.less                                |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

.weather.layer {

	.layer {

		// force 3d acceleration
		//
		-webkit-transform: translate3d(0, 0, 0);

		.viewport {
			background: none;
		}	

		//
		// specific layer types
		//

		&.satellite {
			opacity: 0.75;
			filter: contrast(2);
			mix-blend-mode: screen;
		}

		&.radar {
			opacity: 0.75;
		}

		&.temperature {
			mix-blend-mode: hard-light;
		}

		&.metar {
			opacity: 1;
			filter: drop-shadow(2px 2px 5px fade(black, 75%));

			.marker {
				cursor: pointer;

				fill: fade(@vfr-color, @metar-marker-opacity);

				circle, path {
					stroke: @dark-text-color;
					stroke-width: 60;

					text {
						color: @dark-text-color;
					}
				}

				&:not(.ovc) {
					circle {
						fill: white;
					}
				}

				&:not(.few) {
					path {
						stroke: none !important;
					}
				}

				text {
					font-size: 350px;
					font-family: sans-serif;
					font-weight: bold;
				}

				&.vfr {
					fill: fade(@vfr-color, @metar-marker-opacity);

					circle, path {
						stroke: @vfr-color;
					}
				}

				&.mvfr {
					fill: fade(@mvfr-color, @metar-marker-opacity);

					circle, path {
						stroke: @mvfr-color;
					}
				}

				&.ifr {
					fill: fade(@ifr-color, @metar-marker-opacity);

					circle, path {
						stroke: @ifr-color;
					}
				}

				&.lifr {
					fill: fade(@lifr-color, @metar-marker-opacity);

					circle, path {
						stroke: @lifr-color;
					}
				}
			}
		}

		&.wind {
			opacity: 1;
			filter: drop-shadow(1px 1px 2px black);

			.viewport {
				filter: drop-shadow(0px 1px 0px white) drop-shadow(0px -1px 0px white)  drop-shadow(1px 0px 0px white) drop-shadow(-1px 0px 0px white);

				line, path {
					stroke: black;
					stroke-width: 1.5;
					vector-effect: non-scaling-stroke;
				}
			}
		}
	}
}