/******************************************************************************\
|                                                                              |
|                       medium-flat-colored-buttons.less                       |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

body:not(.binary) {
	&.flat.colored {
		.colored.btn {
			color: white;

			i {
				color: white;
			}

			&.red {
				.flat-btn(@medium-red);
			}

			&.raspberry {
				.flat-btn(@medium-raspberry);
			}

			&.red-orange {
				.flat-btn(@medium-red-orange);
			}

			&.orange {
				.flat-btn(@medium-orange);
			}

			&.yellow {
				.flat-btn(@medium-yellow);
			}

			&.lime {
				.flat-btn(@medium-lime);
			}

			&.green {
				.flat-btn(@medium-green);
			}

			&.teal {
				.flat-btn(@medium-teal);
			}

			&.aqua {
				.flat-btn(@medium-aqua);
			}

			&.cyan {
				.flat-btn(@medium-cyan);
			}

			&.blue {
				.flat-btn(@medium-blue);
			}

			&.indigo {
				.flat-btn(@medium-indigo);
			}

			&.violet {
				.flat-btn(@medium-violet);
			}

			&.plum {
				.flat-btn(@medium-plum);
			}

			&.purple {
				.flat-btn(@medium-purple);
			}

			&.magenta {
				.flat-btn(@medium-magenta);
			}

			&.brown {
				.flat-btn(@medium-brown);
			}

			&.grey {
				.flat-btn(@medium-grey);
			}

			&.black {
				.flat-btn(@medium-black);
			}

			&.white {
				.flat-btn(@medium-white);
			}
		}
	}
}