/******************************************************************************\
|                                                                              |
|                                 terminal.less                                |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

.terminal.app {
	.body {
		.contents {
			color: #00ff00;
			background-color: black;
			padding: 10px;

			.command-line {
				font-family: 'Monaco', sans-serif;

				display: flex;
				white-space: pre-wrap;

				.prompt:before {
					content: "> ";
				}

				.cursor {
					color: darkgrey;

					&:after {
						// content: "_";
						content: "▊";
					}
				}
			}
		}
	}
}