/******************************************************************************\
|                                                                              |
|                               colored-menus.less                             |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the SVG DOM element styles for this application.         |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// menu colors
//

@menu-hover-color: @highlight-color;
@menu-hover-icon-color: white;
@menu-hover-text-color: white;

@menu-active-color: darken(@menu-hover-color, 10%);
@menu-active-icon-color: white;
@menu-active-text-color: white;

@menu-open-color: @menu-hover-color;
@menu-open-icon-color: @menu-hover-icon-color;
@menu-open-text-color: @menu-hover-text-color;

//
// menu styles
//

body:not(.binary).colored.brown {

	//
	// dropdown menus
	//

	.dropdown {

		//
		// dropdown menu toggles
		//
		
		&.open, .dropdown-submenu.open {

			> .dropdown-toggle, > .dropdown-toggle:focus {
				color: @menu-open-text-color;
				background-color: @menu-open-color;
				border-color: @menu-open-color;

				> i {
					color: @menu-open-icon-color;
					fill: @menu-open-icon-color;
				}
			}

			> .dropdown-toggle:active {
				color: @menu-active-text-color;
				background-color: @menu-active-color;
				border-color: @menu-active-color;

				> i {
					color: @menu-active-icon-color;
					fill: @menu-active-icon-color;
				}
			}
		}
	}

	//
	// menus
	//

	.menu, .dropdown-menu {

		//
		// menu items
		//

		> li:not(.disabled) {

			> a {

				&:hover {
					color: @menu-hover-text-color;
					background-color: @menu-hover-color;
					border-color: @menu-hover-color;

					> i {
						color: @menu-hover-icon-color;
						fill: @menu-hover-icon-color;
					}
				}

				&:active {
					color: @menu-active-text-color;
					background-color: @menu-active-color;
					border-color: @menu-active-color;

					> i {
						color: @menu-active-icon-color;
						fill: @menu-active-icon-color;
					}	
				}
			}
		}
	}
}