/******************************************************************************\
|                                                                              |
|                           medium-progress-bars.less                          |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// progress bar colors
//

@progress-track-color: white;
@progress-bar-color: black;

//
// progress bar styles
//

body.binary {
	.progress {
		border-style: solid;
		border-color: black;
		background-color: @progress-track-color;

		.bar {
			background-color: @progress-bar-color;
		}
	}
}