/******************************************************************************\
|                                                                              |
|                             medium-menu-bars.less                            |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the SVG DOM element styles for this application.         |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// menu bar styles
//

body.binary {
	.menu-bar {
		> ul.nav-menus {
			
			> li {
				> a, > a:focus {
					color: black;
					background: none;

					> i {
						color: black;
					}

					&:hover {
						color: white;
						background-color: black;
						border-color: black;

						> i {
							color: white;
						}
					}
					
					&:active {
						color: white;
						background-color: black;
						border-color: black;

						> i {
							color: white;
						}
					}
				}

				//
				// open items
				//

				&.open {
					> a, > a:focus {
						color: white;
						background-color: black;
						border-color: black;

						&:hover {
							color: white;
							background-color: black;
							border-color: black;
						}
					}
				}

				//
				// disabled items
				//

				&.disabled {
					a {
						.grey();
					}
				}
			}
		}
	}
}