/******************************************************************************\
|                                                                              |
|                           medium-post-comments.less                          |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// post comment colors
//

@comment-title-color: @brand-dark;
@comment-text-color: @dark-text-color;
@comment-background-color: @panel-color;
@comment-border-color: @comment-background-color;
@comment-arrow-color: @comment-background-color;
@comment-selected-title-color: white;

//
// post comment styles
//

body:not(.binary) {
	.comments-list {

		//
		// unselected post comments
		//

		> .comment:not(.selected) > .info > .comment-bubble {

			> .comment-inner {
				color: @comment-text-color;
				background-color: @comment-background-color;
				border-color: @comment-border-color;

				.title {
					color: @comment-title-color;
				}
			}

			//
			// unselected post comment arrows
			//

			&.top > .comment-arrow {
				border-top-color: @comment-arrow-color;
			}
			&.right > .comment-arrow {
				border-right-color: @comment-arrow-color;
			}
			&.left > .comment-arrow {
				border-left-color: @comment-arrow-color;
			}
			&.bottom > .comment-arrow {
				border-bottom-color: @comment-arrow-color;
			}
		}

		//
		// selected post comments
		//

		> .comment.selected > .info > .comment-bubble {
			> .comment-inner {
				.title {
					color: @comment-selected-title-color;
				}
			}
		}
	}
}