/******************************************************************************\
|                                                                              |
|                          colored-dialog-buttons.less                         |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// dialog button colors
//

@minimize-button-color: @success-color;
@minimize-button-label-color: white;

@maximize-button-color: @caution-color;
@maximize-button-label-color: white;

@close-button-color: @warning-color;
@close-button-label-color: white;

//
// dialog button styles
//

body:not(.binary).colored {
	.modals {

		//
		// focused dialog buttons
		//
	
		.modal.focused .modal-dialog {
			.modal-header {
				.buttons {
					button {

						&.minimize {
							.color-button(@minimize-button-color);
							.label-button(@minimize-button-label-color);
						}

						&.maximize, &.unmaximize {
							.color-button(@maximize-button-color);
							.label-button(@maximize-button-label-color);
						}

						&.close-btn {
							.color-button(@close-button-color);
							.label-button(@close-button-label-color);
						}
					}
				}
			}
		}
	}
}