/******************************************************************************\
|                                                                              |
|                                  badges.less                                 |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// badge properties
//

@badge-shadow: 1px 1px 5px fade(black, 50%);
@round-badge-border-radius: 10px;
@rounded-badge-border-radius: 5px;

//
// badge styles
//

.badge {
	min-width: 16px;
	font-weight: bold;
	padding: 0 3px;
	border-width: 2px;
	border-style: solid;
	box-shadow: @badge-shadow;

	i {
		height: 10px;
		min-width: 10px;
		font-size: 85%;
		vertical-align: top;
		margin: 1px;
	}

	&.active {
		cursor: pointer;
	}

	&::empty {
		display: none;
	}
}

.badge-group {
	.icon {
		margin: 0;
		padding: 0;
		height: 15px;
	}

	white-space: nowrap;
}

.badges {
	display: inline-flex;
	flex-direction: column;

	&:empty {
		display: none;
	}
}

.badges:empty {
	display: none;
}

//
// badge borders
//

.round .badge {
	border-radius: @round-badge-border-radius;
}

.rounded .badge {
	border-radius: @rounded-badge-border-radius;
}

.square .badge {
	border-radius: 0;
}

//
// item badges
//

.item {

	// item minimum badge width
	//
	.badges .badge {
		min-width: 30px;
	}
}