/******************************************************************************\
|                                                                              |
|                                   buttons.less                               |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// button properties
//

@small-button-size: 25px;
@large-button-size: 30px;
@mobile-min-button-width: 50px;
@button-shadow: 2px 2px 7px fade(black, 33%);
@button-active-shadow: 1px 1px 5px fade(black, 50%);
@round-button-border-radius: 15px;
@rounded-button-border-radius: 5px;

//
// button styles
//

.button {
	cursor: pointer;

	> svg, > img {
		display: inline-block;
		width: 18px;
		height: 18px;
		margin: 0 auto;
	}

	i {
		font-size: @icon-font-size;
		font-style: normal;
		pointer-events: none;
	}
}

.hide-button-icons {
	.btn:not(.btn-sm):not(.input-group-addon) {
		i {
			display: none !important;
		}
	}
}

.btn {
	text-align: center;
	font-variant: normal;
	font-weight: inherit;
	font-size: 100%;
	line-height: 1em;
	padding: 5px 10px;
	cursor: pointer;
	border-color: unset;

	&:focus, &:active:focus {
		outline: none;
	}

	&:active {
		-webkit-box-shadow: none;
		-box-shadow: none;
	}

	i {
		font-size: 14px;
		margin-right: 5px;
		pointer-events: none;
	}

	//
	// disabled buttons
	//

	&:disabled {
		color: unset;
		background-color: unset;
		border-color: unset;
		cursor: not-allowed;

		&:hover {
			color: unset;
			background-color: unset;
			border-color: unset;
			cursor: not-allowed;
		}
	}

	//
	// primary buttons
	//

	&.btn-primary, &.btn-primary:focus {
		color: unset;
		background-color: unset;
		border-color: unset;

		&:hover {
			color: unset;
			background-color: unset;
			border-color: unset;
		}
	}

	//
	// dropdown toggles
	//

	&.dropdown-toggle {
		.filter-option {
			line-height: 15px;
		}
	}
}

//
// button borders
//

.round-buttons,
.round.auto-corner-buttons {
	button {
		border-radius: @round-button-border-radius;
	}
}

.rounded-buttons,
.rounded.auto-corner-buttons {
	button {
		border-radius: @rounded-button-border-radius;
	}
}

.square-buttons,
.square.auto-corner-buttons {
	button {
		border-radius: 0;
	}
}

//
// buttons active / focus
//

:not(.keyboard-accessible) {
	.button:active, .btn:focus {
		outline: none !important;
	}
}

//
// button shadows
//

body:not(.binary):not(.flat-buttons):not(.flat.auto-buttons) {

	.btn, .button.selected, .buttons button.selected, {
		box-shadow: @button-shadow;

		&:active {
			box-shadow: @button-active-shadow;
		}
	}

	.btn:hover, .button:hover {
		box-shadow: @button-shadow;
	}
}

//
// button sizes
//

.btn-sm {
	min-width: @small-button-size;
	height: @small-button-size;
	padding: 0;
	margin: 0;
    
	i {
		margin: auto;
	}
}

.btn-lg {
	min-width: @large-button-size;
	font-size: 18px;
	line-height: 16px;

	i {
		font-size: 18px;
	}
}

//
// button groups
//

.buttons {
	margin-bottom: -5px;

	&:empty {
		display: none;
	}
	
	.btn {
		margin-bottom: 5px;
	}
}

.buttons-inline {
	display: inline-block;
	
	.btn {
		margin-bottom: 5px;
		// margin-right: 5px;
	}
}

.panel + .buttons,
table + .buttons {
	margin-top: 10px;
}

.row .content {
	> div > form > .buttons {
		float: right;
	}
}

//
// desktop buttons
//

body[device="desktop"] {

	//
	// button spacing
	//

	button + button,
	.expander + button,
	button + .expander,
	button + .tooltip + button,
	button + .popover + button,
	button + .popover + .tooltip + button {
		margin-left: 5px;
	}

	//
	// button size
	//

	.btn-lg {
		height: @large-button-size;
	}
}

//
// mobile buttons
//

body[device="phone"], body[device="tablet"] {

	//
	// button sizes
	//

	.btn-sm, .input-group-addon.btn {
		min-width: @mobile-min-button-width;
	}

	.buttons {
		.btn-sm + .btn-sm {
			margin-left: 2px;
		}
	}
}

//
// extra small styles
//

@media (max-width: @screen-xs-min) {

	//
	// button groups
	//

	.buttons {	
		text-align: center;
		margin-bottom: 0;
		
		.btn:not(.btn-sm) {
			width: 100%;
			margin-top: 10px;
			font-size: initial;
			padding: 10px 20px;
			margin-left: 0;
		}
	}

	&.round-buttons {
		.buttons {
			.btn:not(.btn-sm) {
				border-radius: 20px;
			}
		}
	}

	.flex-row .buttons {
		width: 100%;
	}

	.modal-footer {
		.buttons {
			.btn + .btn {
				margin-left: 0;
				margin-top: 10px;
			}
		}
	}
}