/******************************************************************************\
|                                                                              |
|                                navs-bars.less                                |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

@indicator-bar-shadow: 1px 1px 5px fade(black, 50%);

.navbar {
	position: absolute;
	height: 100%;
	min-height: unset;
	border-radius: 0;
	border: none;
	margin-bottom: 0;

	&.shadowed {
		box-shadow: 0 0 10px fade(black, 15%);
	}

	.navbar-brand {
		padding: 0 10px;
		margin: auto;
		height: 100%;
		min-width: 40px;

		.brand {
			display: flex;
			height: 100%;
			cursor: pointer;

			.logo {
				display: flex;
				height: 20px;
				max-height: 100%;
				margin: auto;
				padding: 2px;
			}

			.logotype {
				display: inline-flex;
				padding-top: 2px;
				margin: auto;
			}

			.logo + .logotype {
				margin-left: 5px;
			}
		}

		& + .navbar-nav {
			flex-grow: 1;
		}
	}

	.self .tile {
		float: left;
		margin-top: -2px;
		margin-right: 5px;
	}

	.navbar-nav {
		display: flex;
		padding: 0;

		> li {
			display: flex;

			&.active {
				a {
					cursor: default;

					i, label {
						cursor: default;
					}
				}
			}

			/*
			> .dropdown-menu {
				margin-top: -1px;
			}
			*/
		}

		//
		// apps bar
		//

		&.apps {

			&:not(:empty) {
				padding: 0 5px;
				border-left: 1px dashed;
				border-right: 1px dashed;
			}

			> li {
				padding: 5px 0;
				margin: auto;

				&.current {					
					a {
						cursor: default;

						> i {
							filter: none !important;
						}

						&:hover {
							cursor: default;

							> i {
								filter: none !important;
							}
						}
					}
				}

				&:not(.current) {
					a {
						background: none !important;
						border-color: transparent !important;
					}
				}

				> a {
					width: @small-button-size;
					height: @small-button-size;
					border-width: 1px;
					border-style: solid;
					padding: 0;
					margin: auto 5px;
					text-align: center;

					i {
						margin: 0;
						line-height: @small-button-size;
						margin-top: -1px;
						pointer-events: auto;
					}
				}
			}
		}

		> li {

			> a {
				padding: 0 15px;
				margin: auto;

				> label {
					font-weight: normal;
					cursor: pointer;
					margin-bottom: 0;
				}
				
				> i + label {
					margin-left: 5px;
				}

				> i.fa-caret-down {
					margin-right: 0;
				}

				> i + .badge {
					margin-left: -5px;
				}
			}
		}
	}

	.navbar-collapse.collapse {
		display: flex !important;
		height: 100% !important;
		white-space: nowrap;
	}

	.navbar-right {
		display: flex;
		justify-content: flex-end;

		.profile-photo {
			display: inline-block;
			float: left;
			background-size: cover;
			width: 25px;
			height: 25px;
			margin-top: -3px;
			margin-right: 10px;
		}

		.storage-indicator {
			.indicator {
				display: inline-flex;
				height: 15px;

				i {
					margin-right: 5px;
				}

				.amount {
					line-height: 15px;
					margin-right: 5px;
				}

				.bar {
					width: 50px;
					padding: 2px;
					margin: 1px;
					border-width: 1px;
					border-style: solid;
					border-radius: 7px;

					.inner {
						width: 0%;
						height: 7px;
						border-radius: 5px;
					}
				}
			}
		}

		.buttons {
			margin-bottom: 0;
		}

		.navbar-form {
			display: flex;
			padding: 0;
			margin: 0;
			margin-right: 10px;

			.buttons {
				margin: auto;

				.btn {
					height: 30px;
					margin-bottom: 0;
				}
			}
		}
	}

	//
	// active state
	//

	.navbar-nav {
		> li > a:active,
		> .active > a {
			outline: none;
		}
	}
}

body:not(.flat) {
	.navbar {
		.navbar-nav {

			//
			// indicator bar
			//

			.indicator {
				.bar {
					.inner {
						box-shadow: @indicator-bar-shadow;
					}
				}
			}

			//
			// apps bar
			//

			&.apps {
				> li {

					&.current {					
						a {
							box-shadow: @button-shadow;

							&:hover {
								box-shadow: @button-shadow;
							}
						}
					}

					&:not(.current) {
						a {
							box-shadow: none;

							&:hover {
								box-shadow: none;
							}
						}
					}
				}
			}
		}
	}
}

//
// nav lists
//

.nav.list {
	.active {
		cursor: pointer;
	}
}

//
// counter Bootstrap styles
//

.navbar-collapse {
	border-top: none;
}

.navbar-nav {
	margin: 0;
}

//
// nav bar borders
//

.round-buttons,
.round.auto-corner-buttons {
	.navbar-nav.apps {
		> li {
			> a {
				border-radius: @round-button-border-radius;
			}
		}
	}
}

.rounded-buttons,
.rounded.auto-corner-buttons {
	.navbar-nav.apps {
		> li {
			> a {
				border-radius: @rounded-button-border-radius;
			}
		}
	}
}

.square-buttons,
.square.auto-corner-buttons {
	.navbar-nav.apps {
		> li {
			> a {
				border-radius: 0;
			}
		}
	}
}

//
// prevent bootstrap header collapse
//

.navbar-collapse.collapse {
	display: block!important;
}

.navbar-nav > li, .navbar-nav {
	float: left !important;
}

//
// hide header icons
//

.hide-header-icons {

	// hide heading navbar icons
	//
	.heading.navbar-nav {
		li a > i {
			display: none;
		}
	}
}

//
// small styles
//

@media (max-width: @screen-sm-min) {

	.navbar {

		.navbar-collapse {
			padding: 0;
		}

		.navbar-nav {
			li {
				text-align: center;
				// flex-grow: 1;

				> a {
					padding: 10px 7px;
				}
			}
		}
	}
}

//
// extra small styles
//

@media (max-width: @screen-xs-min) {

	// override Bootstrap max menu height
	//
	.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
		max-height: none;
	}

	.navbar {

		.navbar-brand {
			text-align: center;
			flex-shrink: 0;
		}
	}

	// when not signed in, hide logotype
	// to make space for nav links
	//
	#header:not(.user-header) .navbar {
		.logotype {
			display: none;
		}
	}
}

//
// non-small navs
//

@media (min-width: @screen-sm-min) {
	.navbar {
		.nav.heading li {
			padding: 0 10px;
		}
	}
}

//
// mobile navs
//

body[device="phone"], body[device="tablet"] {
	.navbar {
		.navbar-nav {

			//
			// apps bar
			//

			&.apps {
				> li {
					> a {
						width: @mobile-min-button-width;
					}
				}
			}
		}
	}
}