/******************************************************************************\
|                                                                              |
|                                  pagers.less                                 |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

.pager {
	margin: 0;

	.items-per-page {
		float: left;

		input {
			padding: 0 5px;
			border-radius: 5px;
		}
	}

	.btn-group {
		.page-info {
			display: inline-block;
			width: 2em;
			height: @small-button-size;
			float: left;
			border: none;

			.page-number {
				width: 2em;
				height: @small-button-size;
				border-width: 1px;
				padding: 0;
				text-align: center;
			}
		}
	}

	.items-per-page + .btn-group {
		float: right;
	}

	.toolbar {
		background: none !important;
	}
}