/******************************************************************************\
|                                                                              |
|                                 tooltips.less                                |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// tooltip border properties
//

@round-tooltip-border-radius: 5px;
@rounded-tooltip-border-radius: 3px;

//
// tooltip styles
//

.tooltip {
	font-size: 75%;
	pointer-events: none;

	// counter Bootstrap
	//
	// font-family: unset;

	&.in {
		opacity: 1;
	}

	// override default tooltip spacing
	//
	/*
	&.top {
		margin-top: 0;
	}
	&.bottom {
		margin-top: 0;
	}
	&.right {
		margin-left: 0;
	}
	&.left {
		margin-right: 0;
	}
	*/

	.tooltip-inner {
		// white-space: nowrap;

		// display text ellipsis
		//
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.round .tooltip {
	.tooltip-inner {
		border-radius: @round-tooltip-border-radius;
	}
}

.rounded .tooltip {
	.tooltip-inner {
		border-radius: @rounded-tooltip-border-radius;
	}
}

.square .tooltip {
	.tooltip-inner {
		border-radius: 0;
	}
}

//
// mobile tooltips
//

body[device="phone"], body[device="tablet"] {

	/*
	button + .tooltip,
	li + .tooltip {
		display: none !important;
	}
	*/

	.tooltip {
		display: none !important;
	}
}