/******************************************************************************\
|                                                                              |
|                                    sliders.less                              |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// range input properties
//

@round-slider-thumb-border-radius: 8px;
@rounded-slider-thumb-border-radius: 5px;

@slider-thumb-width: 15px;
@slider-thumb-height: 15px;
@narrow-slider-thumb-width: 10px;
@slider-thumb-border-width: 1px;

@wide-slider-thumb-width: 30px;
@slider-track-width: 5px;
@slider-track-border-width: 0;

@slider-thumb-shadow: 1px 1px 5px fade(black, 33%);
@slider-track-shadow: inset 0 1px 2px fade(black, 33%);
// @slider-track-shadow: none;

//
// range input styles
//

.input {
	display: flex;

	//
	// grouped inputs
	//

	.input-group {
		display: flex;
	}

	//
	// text / number inputs
	//

	input:not([type="range"]) {
		text-align: center;

		&:focus {
			outline: none;
		}
	}

	//
	// selectable inputs
	//

	&.selectable {
		input {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
	}
}

//
// range inputs (sliders)
//

input[type="range"] {
	
	// removes default webkit styles
	//
	-webkit-appearance: none;
	background: none;

	//
	// remove focus outline
	//

	&:focus {
		outline: none;
	}

	//
	// slider thumbs
	//

	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		width: @slider-thumb-width;
		height: @slider-thumb-height;
		margin-top: -5px;
		border-radius: 50%;
		border-width: @slider-thumb-border-width;
		border-style: solid;
	}

	&::-moz-range-thumb {
		-webkit-appearance: none;
		width: @slider-thumb-width;
		height: @slider-thumb-height;
		margin-top: -5px;
		border-radius: 50%;
		border-width: @slider-thumb-border-width;
		border-style: solid;
	}

	&::-ms-thumb {
		-webkit-appearance: none;
		width: @slider-thumb-width - 1px;
		height: @slider-thumb-height - 1px;
		margin-top: -5px;
		border-radius: 50%;
		border-width: @slider-thumb-border-width;
		border-style: solid;
	}

	//
	// slider tracks
	//

	&::-webkit-slider-runnable-track {
		height: @slider-track-width;
		border-radius: @slider-track-width;
		border-width: @slider-track-border-width;
		border-style: solid;
		border-color: transparent;
	}

	&::-moz-range-track {
		height: @slider-track-width;
		border-radius: @slider-track-width;
		border-width: @slider-track-border-width;
		border-style: solid;
		border-color: transparent;
	}

	&::-ms-track {
		height: @slider-track-width;
		border-radius: @slider-track-width;
		border-width: @slider-track-border-width;

		// use ms-fill-lower and ms-fill-upper instead
		//
		background: transparent;
		border-color: transparent;

		// remove default tick marks
		//
		color: transparent;
	}

	&::-ms-fill-lower {
	    background: grey;
	    border-radius: 10px;
	}

	&::-ms-fill-upper {
	    background: grey;
	    border-radius: 10px;
	}

	&:focus::-webkit-slider-runnable-track {
		background: lightgrey;
	}
}

//
// range input corners
//

.round-sliders,
.round.auto-corner-sliders {

	input[type="range"] {
		&::-webkit-slider-thumb {
			border-radius: @round-slider-thumb-border-radius;
		}
		&::-moz-range-thumb {
			border-radius: @round-slider-thumb-border-radius;
		}
		&::-ms-thumb {
			border-radius: @round-slider-thumb-border-radius;
		}
	}

	&.selectable {
		input {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
	}
}

.rounded-sliders,
.rounded.auto-corner-sliders {

	input[type="range"] {
		&::-webkit-slider-thumb {
			border-radius: @rounded-slider-thumb-border-radius;
		}
		&::-moz-range-thumb {
			border-radius: @rounded-slider-thumb-border-radius;
		}
		&::-ms-thumb {
			border-radius: @rounded-slider-thumb-border-radius;
		}
	}

	&.selectable {
		input {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
	}
}

.square-sliders,
.square.auto-corner-sliders {

	input[type="range"] {
		&::-webkit-slider-thumb {
			border-radius: 0;
		}
		&::-moz-range-thumb {
			border-radius: 0;
		}
		&::-ms-thumb {
			border-radius: 0;
		}
	}
}

//
// range input handle sizes
//

.narrow-slider-handles {
	input[type="range"] {
		&::-webkit-slider-thumb {
			width: @narrow-slider-thumb-width;
			height: @slider-thumb-height;
		}
		&::-moz-range-thumb {
			width: @narrow-slider-thumb-width;
			height: @slider-thumb-height;
		}
		&::-ms-thumb {
			width: @narrow-slider-thumb-width;
			height: @slider-thumb-height;
		}
	}
}

.medium-slider-handles {
	input[type="range"] {
		&::-webkit-slider-thumb {
			width: @slider-thumb-width;
			height: @slider-thumb-height;
		}
		&::-moz-range-thumb {
			width: @slider-thumb-width;
			height: @slider-thumb-height;
		}
		&::-ms-thumb {
			width: @slider-thumb-width;
			height: @slider-thumb-height;
		}
	}
}

.wide-slider-handles {
	input[type="range"] {
		&::-webkit-slider-thumb {
			width: @wide-slider-thumb-width;
			height: @slider-thumb-height;
		}
		&::-moz-range-thumb {
			width: @wide-slider-thumb-width;
			height: @slider-thumb-height;
		}
		&::-ms-thumb {
			width: @wide-slider-thumb-width;
			height: @slider-thumb-height;
		}
	}
}

//
// slider thumb shadows
//

body:not(.binary):not(.flat-sliders):not(.flat.auto-sliders) {
	input[type="range"] {

		// slider thumb shadows
		//
		&::-webkit-slider-thumb {
			box-shadow: @slider-thumb-shadow;
		}
		&::-moz-range-thumb {
			box-shadow: @slider-thumb-shadow;
		}
		&::-ms-thumb {
			box-shadow: @slider-thumb-shadow;
		}
	}
}

input[type="range"] {

	// slider track shadows
	//
	&::-webkit-slider-runnable-track {
		box-shadow: @slider-track-shadow;
	}
	&::-moz-range-track {
		box-shadow: @slider-track-shadow;
	}
}