/******************************************************************************\
|                                                                              |
|                       colorful-plastic-task-bars.less                        |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

body:not(.binary).colorful.magenta {
	&.plastic {

		//
		// plastic unminimized task bars
		//

		#desktop:not(.task-bar-minimized):not(.colorful) .task-bar {
			.task-list {
				li {
					.round-plastic(@task-bar-item-color);
				}
			}
		}

		#desktop.coloful:not(.task-bar-minimized) .task-bar {
			.task-list {
				li:not(.colored) {
					.round-plastic(@task-bar-item-color);
				}
			}
		}

		//
		// plastic minimized task bars
		//

		#desktop.task-bar-minimized:not(.colorful) .task-bar {
			.task-list {
				li:not(.colored) {
					.round-plastic(@task-bar-item-color);
				}
			}
		}
	}
}