/******************************************************************************\
|                                                                              |
|                          medium-form-controls.less                           |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

body:not(.binary) {
	form {

		//
		// focused form control highlighting
		//

		.controls {

			//
			// radio / checkbox inputs
			//

			input[type="radio"]:focus,
			input[type="checkbox"]:focus,
			select:focus {
				outline: none;
			}

			//
			// radio inputs
			//

			input[type="radio"] {

				&:checked, &.colored:checked {
					border-color: @dark-text-color;
				}

				&:not(:checked) {
					border-color: @brand-light !important;
				}
			}
		}

		.form-control {
			border-color: @form-input-border-color;

			&:focus {
				border-color: fade(@brand-light, 75%) !important;
				box-shadow: 1px 1px 10px 0 fade(@brand-light, 50%) !important;	
			}
		}
	}
}