/******************************************************************************\
|                                                                              |
|                               medium-pie.less                                |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// pie colors
//

@pie-empty-color: @very-very-light-grey;
@pie-full-color: @brand-dark;

//
// pie styles
//

body:not(.binary) {
	.pie:not(.lcd) {
		.slice {

			&.empty {
				background: @pie-empty-color;	
			}

			&.full {
				background: @pie-full-color;
			}

			&.half-full {
				background-image: linear-gradient(to right,
					transparent 50%,
					@pie-full-color 0%);
			}

			&.half-empty {
				background-image: linear-gradient(to right,
					transparent 50%,
					@pie-empty-color 0%);
			}
		}
	}
}