/******************************************************************************\
|                                                                              |
|                               medium-popovers.less                           |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the SVG DOM element styles for this application.         |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// popover colors
//

@popover-title-background-color: @brand-light;
@popover-title-text-color: white;
@popover-title-icon-color: @light-text-color;
@popover-text-color: @dark-text-color;
@popover-title-color: @brand-light;
@popover-border-color: @brand-light;
@popover-shadow: drop-shadow(5px 5px 15px fade(black, 33%));

//
// popover styles
//

body:not(.binary) {
	.popover {
		border-color: @popover-border-color;
		filter: @popover-shadow;

		.popover-title {
			color: @popover-title-text-color;
			background-color: @popover-title-background-color;

			.icon {
				color: @popover-title-icon-color;
				fill: @popover-title-icon-color;
			}
		}

		.popover-content {
			color: @popover-text-color;

			.title {
				color: @popover-title-color;
			}
		}

		//
		// popover arrows
		//

		&.right > .arrow {
			border-right-color: @popover-border-color;
		}

		&.left > .arrow {
			border-left-color: @popover-border-color;
		}

		&.top > .arrow {
			border-top-color: @popover-border-color;
		}

		&.bottom > .arrow {
			border-bottom-color: @popover-border-color;
		}
	}
}