/******************************************************************************\
|                                                                              |
|                          colorful-tabs-minimal.less                          |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// tab colors
//

@minimal-tab-text-color: @highlight-color;
@minimal-tab-hover-text-color: @highlight-color;

//
// tab styles
//

body:not(.binary).colorful.grey {
	&:not(.dark).tabs-minimal {
		ul.nav-tabs {

			//
			// inactive tabs
			//

			> li:not(.active) {
				> a {
					color: @minimal-tab-text-color;

					label {
						color: @minimal-tab-text-color;
					}
				}

				> a:hover {
					color: @minimal-tab-hover-text-color;

					label {
						color: @minimal-tab-hover-text-color;
					}
				}
			}
		}
	}
}