/******************************************************************************\
|                                                                              |
|                                medium-panels.less                            |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// panel colors
//

@panel-color: @very-very-very-light-grey;
@panel-title-color: @brand-light;
@panel-label-color: @dark-text-color;
@panel-icon-color: @brand-light;
@panel-content-color: white;
@panel-hover-color: white;
@panel-selected-color: @brand-dark;
@panel-border-color: darken(@panel-color, 5%);
@nested-panel-color: white;

//
// panel styles
//

body:not(.binary) {
	.panel, ul.panels > li {
		color: @dark-text-color;
		.flat(@panel-color);

		//
		// panel labels
		//

		label {
			color: @panel-label-color;

			i {
				color: @panel-icon-color;
			}
		}

		.checkbox-inline, .radio-inline {
			label {
				color: inherit;
			}
		}

		//
		// panel borders
		//

		.section {
			border-color: @panel-border-color;
		}
		
		//
		// panel content
		//

		.content {
			background-color: @panel-content-color;
			border-color: @panel-border-color;
			
			.title {
				color: @panel-title-color;

				i {
					color: @panel-icon-color;
				}
			}
		}

		.selected .content {
			color: white;
			background-color: @panel-selected-color;

			a {
				color: white;
			}
		}
	}

	//
	// transparent panels
	//

	/*
	&.transparent, &.translucent {
		.modal-dialog:not(.maximized) {
			.panel:not(.selected), ul.panels > li:not(.selected) {
				border-color: @panel-border-color;
			}
		}
	}
	*/

	/*
	.transparent .desktop.app {
		.panel, ul.panels > li {
			.plate-glass(@panel-color);
		}
	}

	.translucent .desktop.app {
		.panel, ul.panels > li {
			.frosted-glass(@panel-color);
		}
	}
	*/

	//
	// nested panels
	//

	.panel {
		.panel {
			background-color: @nested-panel-color;
		}
	}

	.mainbar .panel {
		.card-grid .cards .item:not(.highlighted):not(.selected) > .card {
			background-color: @nested-panel-color;
		}
	}

	//
	// panel lists
	//

	ul.panels > li {
		&:hover {
			background-color: @panel-hover-color;
		}
	}
}