/******************************************************************************\
|                                                                              |
|                           medium-panel-lists.less                            |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// panel item colors
//

@panel-item-name-color: @brand-dark;
@selected-panel-item-color: @dark-text-color;
@selected-panel-item-background-color: mix(@panel-color, @highlight-color, 75%);
@selected-panel-item-border-color: @highlight-color;

//
// panel item styles
//

body:not(.binary) {
	.panel.item {
	
		//
		// panel item info
		//

		> .info {
			.name {
				color: @panel-item-name-color;
			}
		}

		//
		// selected panel items
		//

		&.selected {
			color: @selected-panel-item-color;
			background-color: @selected-panel-item-background-color;
			border-color: @selected-panel-item-border-color;
		}
	}

	//
	// unfocused items
	//

	.modal:not(.focused) .modal-dialog,
	.desktop.app:not(.focused) > .body {

		.panel.item {

			//
			// selected panel items
			//

			&.selected {
				background-color: mix(@panel-color, @highlight-color, 90%);
				border-color: @highlight-color;
			}
		}
	}
}