/******************************************************************************\
|                                                                              |
|                              medium-images.less                              |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// image styles
//

body:not(.binary) {

	.image img {
		outline-color: @very-very-light-grey;
	}

	.thumbnail > i,
	.icon > i {
		color: @brand-light;
	}

	.tile-grid .item > .icon > .thumbnail {
		background-color: transparent;

		i {
			color: @very-light-grey;
		}
	}
}