/******************************************************************************\
|                                                                              |
|                               colored-tabs.less                              |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// tab colors
//

@tab-active-color: @highlight-color;
@tab-active-icon-color: white;
@tab-active-text-color: white;

//
// tab styles
//

body:not(.binary).colored.aqua {
	ul.nav-tabs {

		//
		// tab borders
		//

		border-bottom-color: @tab-active-color;

		//
		// active tabs
		//

		> li.active {
			> a,
			> a:focus {
				color: @tab-active-text-color;
				background-color: @tab-active-color;
				border-color: @tab-active-color;

				i {
					color: @tab-active-icon-color;
				}

				svg {
					fill: @tab-active-icon-color;
				}

				label {
					color: @tab-active-text-color;
				}
			}
		}
	}
}