/******************************************************************************\
|                                                                              |
|                              _dark-badges.scss                               |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

@use "../../../../colors/colors";
@use "../../../../forms/validation";

//
// colors
//

$color: colors.$medium-blue;
$success-color: validation.$success-color;
$caution-color: validation.$caution-color;
$warning-color: validation.$warning-color;

//
// styles
//

body:not(.binary).colored.colored {
	&.dark {
		.badge {
			background-color: $color;

			//
			// special badges
			//

			&.success {
				background-color: $success-color;
			}

			&.caution {
				background-color: $caution-color;
			}

			&.warning {
				background-color: $warning-color;
			}
		}
	}
}