/******************************************************************************\
|                                                                              |
|                               medium-menus.less                              |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the SVG DOM element styles for this application.         |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// menu colors
//

@menu-color: @app-background-color;
@menu-icon-color: @medium-grey;
@menu-text-color: @dark-text-color;

@menu-disabled-color: none;
@menu-disabled-icon-color: @very-light-grey;
@menu-disabled-text-color: @very-light-grey;

@menu-border-color: @very-very-light-grey;
@menu-item-divider-color: @menu-border-color;

//
// inline menu colors
//

@menu-inline-text-color: @brand-dark;
@menu-inline-icon-color: @brand-light;
@menu-inline-item-odd-color: @odd-list-item-background-color;

//
// menu styles
//

body:not(.binary) {

	//
	// dropdown menus
	//

	.dropdown-menu, .menu-content {
		background: @menu-color;
		border-color: @menu-border-color;
	}

	//
	// dropdown panels
	//

	ul.panels li {
		border-color: @menu-item-divider-color;
	}

	//
	// transparent dropdowns
	//

	&.transparent {
		.dropdown-menu, .menu-content {
			.plate-glass(@menu-color, @frosted-glass-opacity);

			.panel, ul.panels > li:not(:hover) {
				background: none;
			}

			// nested dropdown menus
			//
			.dropdown-menu {
				background-color: @menu-color;
			}
		}
	}

	//
	// translucent dropdowns
	//

	&.translucent {
		.dropdown-menu, .menu-content {
			.frosted-plate-glass(@menu-color);

			.panel, ul.panels > li:not(:hover) {
				background: none;
			}

			// translucent nested dropdown menus
			//
			.dropdown-menu {
				background-color: @menu-color;
			}
		}
	}

	//
	// menus
	//

	.menu, .dropdown-menu {
		color: @menu-text-color;
		border-color: @menu-border-color;

		//
		// menu items
		//

		> li {

			//
			// enabled menu items
			//

			&:not(.open):not(.disabled) {
				color: @menu-text-color;

				> a {
					color: @menu-text-color;
					background: none;

					> i {
						color: @menu-icon-color;
						fill: @menu-icon-color;
					}

					//
					// menu check marks
					//

					&:not(.app-item):not(:hover) {
						> i.fa-check {
							color: @menu-text-color;
						}
					}
				}
			}

			//
			// disabled menu items
			//

			&.disabled {
				color: @menu-disabled-text-color;
				background-color: @menu-disabled-color;
				border-color: @menu-disabled-color;

				> a {
					color: @menu-disabled-text-color;

					> i {
						color: @menu-disabled-icon-color;
						fill: @menu-disabled-icon-color;
					}	
				}
			}

			//
			// dividers
			//

			&.divider:not(.disabled) {
				border-color: @menu-item-divider-color;
				background-color: @menu-item-divider-color;
			}
		}
	}

	//
	// inline menus
	//

	.menu {

		//
		// inline menu items
		//

		> li {

			//
			// zebra striping
			//

			&:nth-child(odd) {
				background-color: @menu-inline-item-odd-color;
			}

			//
			// enabled menu items
			//

			&:not(.disabled) {
				> a {
					color: @menu-inline-text-color;

					> i {
						color: @menu-inline-icon-color;
						fill: @menu-inline-icon-color;
					}
				}
			}
		}
	}
}