/******************************************************************************\
|                                                                              |
|                              medium-buttons.less                             |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// button colors
//

@button-color: @very-very-light-grey;
@button-icon-color: @very-dark-grey;
@button-label-color: @dark-text-color;

@button-disabled-color: @button-color;
@button-disabled-icon-color: @button-icon-color;
@button-disabled-label-color: @button-label-color;

//
// button styles
//

body:not(.binary) {

	//
	// buttons
	//

	.button {
		.color-button(@button-color);
		.label-button(@button-label-color);

		&.selected {
			.color-btn(@button-color);
		}
	}

	//
	// styled buttons
	//

	.btn {
		.color-btn(@button-color);
		.label-btn(@button-label-color);
		.color-button-icon(@button-icon-color);

		//
		// disabled buttons
		//

		&:disabled {
			.color-disabled-btn(@button-disabled-color);
			.label-disabled-btn(@button-disabled-label-color);
		}
	}

	//
	// expander buttons
	//

	.expander .btn {
		background: transparent !important;
		border-color: transparent !important;
		box-shadow: none !important;

		i {
			color: @dark-text-color !important;
		}
	}

	.selected, .highighted {
		> .info {
			.expander .btn {
				i {
					color: white !important;
				}
			}
		}
	}
}