/******************************************************************************\
|                                                                              |
|                            medium-scrollbars.less                            |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// scrollbar colors
//

@scrollbar-color: @very-very-light-grey;
@scrollbar-hover-color: darken(@scrollbar-color, 10%);
@scrollbar-track-color: @ultra-light-grey;

//
// scrollbar styles
//

body:not(.binary) {

	//
	// scrollbar thumbs
	//

	::-webkit-scrollbar-thumb {
		background-color: @scrollbar-color;
		border-color: @scrollbar-track-color;
	}

	::-webkit-scrollbar-thumb:hover {
		background-color: @scrollbar-hover-color;
	}

	//
	// scrollbar tracks
	//

	::-webkit-scrollbar-track,
	::-webkit-scrollbar-corner {
		background-color: @scrollbar-track-color;
	}
}