/******************************************************************************\
|                                                                              |
|                             medium-nav-bars.less                             |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// navbar colors
//

@navbar-color: @light-grey;
@navbar-hover-color: white;
@navbar-active-color: white;
@navbar-brand-color: white;
@navbar-background-color: @ultra-dark-grey;
@navbar-active-background-color: @brand-dark;
@navbar-border-color: @medium-grey;

// navbar indicator colors
//
@navbar-indicator-background-color: @very-very-light-grey;
@navbar-indicator-border-color: @navbar-border-color;

//
// navbar styles
//

body:not(.binary) {
	.navbar-inverse {
		background-color: @navbar-background-color;

		//
		// brand
		//

		.brand {
			color: @navbar-brand-color;
		}

		//
		// navigation
		//

		.navbar-nav {
			color: @navbar-color;

			> li {

				//
				// inactive state
				//

				&:not(.active):not(.open) {
					> a, > a:focus {
						color: inherit;

						//
						// hover state
						//

						&:not(.colored):hover {
							color: @navbar-hover-color;

							i, label {
								color: @navbar-hover-color;
							}
						}
					}
				}

				//
				// active state
				//

				&.active {
					background-color: @navbar-active-background-color;

					> a, > a:hover, > a:focus {
						color: @navbar-active-color;
						background-color: unset;

						i, label {
							color: @navbar-active-color;
						}
					}
				}

				//
				// open state
				//

				&.open {
					background-color: @navbar-active-background-color;

					> a, > a:focus {
						color: @navbar-active-color;

						i, label {
							color: @navbar-active-color;
						}
					}
				}
			}

			//
			// profile thumbnails
			//

			.thumbnail.missing {

				// use header icon color
				//
				i {
					color: inherit;
				}
			}

			//
			// nav bar indicators
			//

			.indicator {
				.bar {
					background-color: @navbar-indicator-background-color;
					border-color: @navbar-indicator-border-color;
				}
			}

			//
			// apps bar
			//

			&.apps {
				border-color: @navbar-border-color;

				> li {
					&.current {
						> a {
							> i {
								color: white !important;
							}

							> svg {
								fill: white !important;
							}
						}
					}
				}
			}
		}
	}
}