/******************************************************************************\
|                                                                              |
|                             medium-menu-bars.less                            |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the SVG DOM element styles for this application.         |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// menu bar colors
//

@transparent-menu-bar-item-color: fade(white, 25%);

//
// menu bar styles
//

body:not(.binary) {
	.menu-bar {
		> ul.nav-menus {
			
			> li {
				> a, > a:focus {
					color: @menu-text-color;
					background: none;

					> i {
						color: @menu-icon-color;
					}
				}
			}

			//
			// disabled menu bar items
			//

			> li.disabled {
				a {
					color: @menu-disabled-text-color;
					background: none;

					> i {
						color: @menu-disabled-text-color;
					}
				}
			}
		}
	}

	//
	// transparent desktop menu bar items
	//

	&.transparent, &.translucent {
		&.menu-margins #desktop {
			.header-bar {
				.menu-bar {
					> ul.nav-menus {

						> li.open {
							> a, > a:focus, > a:hover, > a:active {
								color: @dark-text-color;
								background: @transparent-menu-bar-item-color;
								border-color: @transparent-menu-bar-item-color;

								i {
									color: @dark-grey;
								}
							}
						}
					}
				}
			}
		}
	}
}