/******************************************************************************\
|                                                                              |
|                           medium-tabs-minimal.less                           |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// tab colors
//

@minimal-tab-icon-color: @brand-light;
@minimal-tab-text-color: @dark-text-color;

@minimal-tab-hover-icon-color: @brand-dark;
@minimal-tab-hover-text-color: @brand-dark;

//
// tab styles
//

body:not(.binary).tabs-minimal {
	ul.nav-tabs {

		//
		// inactive tabs
		//

		> li:not(.active) {
			> a {
				color: @minimal-tab-text-color;

				i {
					color: @minimal-tab-icon-color;
				}

				svg {
					fill: @minimal-tab-icon-color;
				}

				label {
					color: @minimal-tab-text-color;
				}
			}

			> a:hover {
				color: @minimal-tab-hover-text-color;

				i {
					color: @minimal-tab-hover-icon-color;
				}

				svg {
					fill: @minimal-tab-hover-icon-color;
				}

				label {
					color: @minimal-tab-hover-text-color;
				}
			}
		}
	}
}