/******************************************************************************\
|                                                                              |
|                            medium-dock-bars.less                             |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// dock bar colors
//

@dock-bar-background-color: @very-very-light-grey;
@dock-bar-border-color: fade(lighten(@dock-bar-background-color, 10%), 25%);
@dock-bar-divider-color: fade(black, 50%);
@dock-bar-item-indicator-color: black;

//
// dock bar styles
//

body:not(.binary) {

	//
	// dock bars
	//

	#dock-bar {
		.shelf {
			background-color: @dock-bar-background-color;
			border-color: @dock-bar-border-color;
		}

		.dock {

			// app icons
			//
			.apps {
				.item {
					.icon {
						> i {
							display: none;
						}
					}
				}
			}

			// app and task icons
			//
			.apps, .tasks {
				.item {
					.icon {
						> i {
							color: white;
						}
					}

					.indicator {
						background-color: @dock-bar-item-indicator-color;
					}
				}
			}

			.apps {
				.item .icon {
					box-shadow: @dock-item-shadow;

					> img {
						filter: @thumbnail-shadow;
					}
				}
			}

			.tasks {
				.item .icon {
					filter: @dock-item-shadow;

					i {
						color: white;
						filter: drop-shadow(@dock-item-shadow);
					}
				}
			}

			// dividers
			//
			.tasks .icons:not(:empty) {
				border-left-color: @dock-bar-divider-color;
			}
		}
	}

	//
	// transparent dock bars
	//

	&.transparent {
		#dock-bar {
			.shelf {
				.plate-glass(@dock-bar-background-color, 50%, 50%);
			}
		}
	}

	//
	// translucent dock bars
	//

	&.translucent {
		#dock-bar {
			.shelf {
				.frosted-plate-glass(@dock-bar-background-color, 50%, 50%);
			}
		}
	}
}