/******************************************************************************\
|                                                                              |
|                             dark-task-bars.less                              |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// dark task bar colors
//

@dark-task-bar-color: @dark-modal-header-color;
@dark-task-bar-icon-color: @dark-title-icon-color;
@dark-task-bar-text-color: @dark-title-color;

//
// dark task bar styles
//

body.binary.dark  {
	.task-bar {
		.task-list {
			li {
				background-color: @dark-task-bar-color;
				border-color: @dark-task-bar-color;
				color: @dark-task-bar-text-color;
				.unoutline-text();

				i {
					color: @dark-task-bar-icon-color;
					.unoutline-text();
				}

				.title {
					color: @dark-task-bar-text-color;
					.unoutline-text();
				}
			}
		}
	}
}