/******************************************************************************\
|                                                                              |
|                             colored-nav-bars.less                            |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// navbar colors
//

@navbar-active-color: white;
@navbar-active-background-color: @highlight-color;

// navbar indicator colors
//
@navbar-indicator-color: @highlight-color;

//
// navbar styles
//

body:not(.binary).grey {
	.navbar-inverse {

		//
		// navigation
		//

		.navbar-nav {
			
			> li {

				//
				// active state
				//

				&.active {
					background-color: @navbar-active-background-color;

					> a, > a:focus {
						color: @navbar-active-color;

						i, label {
							color: @navbar-active-color;
						}
					}
				}

				//
				// open state
				//

				&.open {
					background-color: @navbar-active-background-color;

					> a, > a:focus {
						color: @navbar-active-color;

						i, label {
							color: @navbar-active-color;
						}
					}
				}
			}
		}

		//
		// nav bar indicators
		//

		.indicator {
			.bar {
				.inner {
					background-color: @navbar-indicator-color;
				}
			}
		}
	}
}