/******************************************************************************\
|                                                                              |
|                           medium-modal-apps.less                             |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// modal app colors
//

@app-unfocused-background-color: darken(@app-background-color, 10%);
@app-unfocused-sidebar-color: darken(@app-sidebar-color, 10%);
@app-unfocused-sidebar-panel-color: @app-sidebar-panel-color;
@app-unfocused-border-color: darken(@app-border-color, 10%);
@app-inset-shadow: inset 0px 0px 10px fade(black, 25%);

//
// modal app styles
//

body:not(.binary) {
	.modals {

		//
		// modal apps
		//

		.modal {
			.modal-dialog .app {
				.body, .body-region {
					> .contents {
						> .mainbar {
							background: white !important;
						}
					}

					// inset shadows
					//
					/*
					&:not(.split-view)::after {
						content: "";
						box-shadow: @app-inset-shadow;
						position: absolute;
						left: 0;
						right: 0;
						top: 0;
						bottom: 0;
						pointer-events: none;
					}
					*/
				}
			}
		}

		//
		// focused modal apps
		//

		.modal.focused {
			.modal-dialog .app {

				.header-bar, .footer-bar, & + .panel {
					background-color: @app-background-color;
				}

				.body, .body-region {
					border-color: @app-background-color;

					> .contents {
						border-color: @app-border-color;

						> .split {
							border-color: @app-border-color;
						}
					}
				}

				.header-bar, .footer-bar, & + .panel {
					border-color: @app-border-color;
				}
			}
		}

		//
		// unfocused modal apps
		//

		.modal:not(.focused) {
			.modal-dialog .app {

				.header-bar, .footer-bar, & + .panel {
					background-color: @app-unfocused-background-color;
				}

				.body, .body-region {
					border-color: @app-unfocused-background-color;

					> .contents {
						border-color: @app-unfocused-background-color;

						> .split {
							border-color: @app-unfocused-border-color;
						}
					}
				}

				.header-bar, .footer-bar, & + .panel {
					border-color: @app-unfocused-border-color;
				}
			}
		}
	}
}