/******************************************************************************\
|                                                                              |
|                          medium-desktop-apps.less                            |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// desktop colors
//

@desktop-header-bar-color: @dark-text-color;
@desktop-header-bar-icon-color: @medium-grey;
@desktop-header-bar-background-color: @very-very-very-light-grey;
@desktop-header-bar-opacity: @plate-glass-opacity;
@transparent-desktop-header-bar-color: @dark-text-color;
@transparent-desktop-header-bar-icon-color: @medium-grey;
@transparent-desktop-header-bar-background-color: @very-very-very-light-grey;

@desktop-sidebar-panels-color: fade(white, 50%);
@desktop-mainbar-background-color: white;

@transparent-sidebar-color: fade(white, 75%);
@transparent-sidebar-label-color: white;
@transparent-sidebar-panel-color: fade(@app-background-color, @app-sidebar-panel-opacity);

@desktop-preview-border-color: @very-light-grey;
@desktop-message-color: @light-grey;
@desktop-message-background-color: fade(@very-light-grey, 25%);

//
// desktop apps
//

body:not(.binary) {
	.desktop.app {
		> .body {
			> .app {

				//
				// desktop header bars
				//

				.header-bar {
					color: @desktop-header-bar-color;
					.flat(@desktop-header-bar-background-color, outset);
					border-color: @app-border-color;

					.app-bar {
						> i {
							color: @desktop-header-bar-icon-color;
						}				
					}

					.toolbar {
						.button:not(.selected):not(:hover) {
							> i {
								color: @desktop-header-bar-icon-color;
							}
						}
					}

					.clock {
						.icon {
							> i {
								color: @desktop-header-bar-icon-color;
							}		
						}
					}
				}

				.mainbar {
					background-color: @desktop-mainbar-background-color;
				}
			}

			> .app-launcher, 
			> .app .mainbar,
			> .app .sidebar .panel {

				// no inset shadows
				//
				> .body {
					> .contents::after {
						box-shadow: none;
					}
				}

				//
				// desktop headings
				//

				.heading h1 {
					color: white;
				}

				//
				// desktop tabbed content
				//

				/*
				> .tabbed-content {
					background-color: white
				}
				*/
			}

			//
			// desktop apps
			//

			> .app {
				border: none;

				.mainbar {
					.items {

						//
						// drop zone
						//

						& + .dropzone {
							color: white;
						}
					}

					//
					// desktop app help messages
					//

					.help.message {
						color: @desktop-message-color;
						background: @desktop-message-background-color;
						.frosted();
					}
				}
			}
		}
	}

	//
	// transparent desktops
	//

	&.transparent, &.translucent {
		.desktop.app > .body > .app {

			.header-bar {
				color: @transparent-desktop-header-bar-color;
				.plate-glass(@transparent-desktop-header-bar-background-color,
				@desktop-header-bar-opacity);

				.menu-bar {
					> ul.nav-menus {
						> li:not(.open) {
							> a {
								color: @transparent-desktop-header-bar-color;

								> i {
									color: @transparent-desktop-header-bar-icon-color;
								}
							}
						}
					}
				}

				.app-bar {
					color: @dark-text-color;

					> i {
						color: @transparent-desktop-header-bar-icon-color;
					}				
				}

				.toolbar {
					.icon i {
						color: @transparent-desktop-header-bar-icon-color;
					}

					.button:not(.selected):not(:hover) {
						> i {
							color: @transparent-desktop-header-bar-icon-color;
						}
					}
				}

				.clock {
					.icon {
						> i {
							color: @transparent-desktop-header-bar-icon-color;
						}		
					}
				}
			}
		}
	}

	//
	// opaque desktop app sidebars
	//

	&.opaque #desktop.auto-sidebars,
	#desktop.opaque-sidebars {
		.desktop.app {
			> .body, > .body-region {
				.contents {
					> .sidebar {
						color: @dark-text-color;
						background-color: @app-sidebar-color;
					}
				}
			}
		}
	}

	//
	// transparent desktop app sidebars
	//

	&.transparent #desktop.auto-sidebars,
	#desktop.transparent-sidebars {
		.desktop.app {
			> .body, > .body-region {
				.contents {
					> .sidebar {
						color: white;
						background-color: transparent;

						.panels > .panel, label, .expander .btn i {
							color: white !important;
						}
					}
				}
			}
		}
	}

	//
	// translucent desktop app sidebars
	//

	&.translucent #desktop.auto-sidebars,
	#desktop.translucent-sidebars {
		.desktop.app {
			> .body, > .body-region {
				.contents {
					> .sidebar {
						color: @dark-text-color !important;
						background-color: @transparent-sidebar-color;
						.frosted();
					}
				}
			}
		}
	}

	//
	// opaque desktop app sidebar panels
	//

	#desktop.opaque-sidebars.sidebar-panels,
	&.opaque #desktop.auto-sidebars.sidebar-panels,
	&.sidebar-panels #desktop.auto-sidebar-panels.opaque-sidebars,
	&.opaque.sidebar-panels #desktop.auto-sidebar-panels.auto-sidebars {
		.desktop.app {
			> .body, > .body-region {
				.contents {
					> .sidebar {
						background-color: @app-sidebar-color;

						.panels {
							background-color: @desktop-sidebar-panels-color;

							.panel {
								background-color: @app-sidebar-panel-color;
							}
						}
					}
				}
			}
		}
	}

	//
	// transparent desktop app sidebar panels
	//

	#desktop.transparent-sidebars.sidebar-panels,
	&.transparent #desktop.auto-sidebars.sidebar-panels,
	&.sidebar-panels #desktop.auto-sidebar-panels.transparent-sidebars,
	&.transparent.sidebar-panels #desktop.auto-sidebar-panels.auto-sidebars {
		.desktop.app {
			> .body, > .body-region {
				.contents {
					> .sidebar {
						background-color: transparent;

						.panels {
							background-color: @desktop-sidebar-panels-color;

							.panel {
								.plate-glass(white, 50%, 75%);
								color: @dark-text-color !important;

								.panels > .panel, label {
									color: @dark-text-color !important;
								}
							}
						}
					}
				}
			}
		}
	}

	//
	// translucent desktop app sidebar panels
	//

	#desktop.translucent-sidebars.sidebar-panels,
	&.translucent #desktop.auto-sidebars.sidebar-panels,
	&.sidebar-panels #desktop.auto-sidebar-panels.translucent-sidebars,
	&.translucent.sidebar-panels #desktop.auto-sidebar-panels.auto-sidebars {
		.desktop.app {
			> .body, > .body-region {
				.contents {
					> .sidebar {
						.clear();

						.panels {
							background-color: @desktop-sidebar-panels-color;
							.frosted();

							.panel {
								.plate-glass(white, 25%, 50%);
								.frosted();
							}
						}
					}
				}
			}
		}
	}

	//
	// no desktop app sidebar panels
	//

	#desktop:not(.sidebar-panels):not(.auto-sidebar-panels),
	&:not(.sidebar-panels) #desktop.auto-sidebar-panels {
		.desktop.app {
			> .body, > .body-region {
				.contents {
					> .sidebar {
						.panels {
							.panel {
								background: none;
							}
						}
					}
				}
			}
		}
	}
}