/******************************************************************************\
|                                                                              |
|                                light-pie.less                                |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// light pie colors
//

@light-pie-empty-color: @very-very-light-grey;
@light-pie-full-color: @very-light-grey;

//
// light pie styles
//

body:not(.binary).light {
	.pie:not(.lcd) {
		.slice {

			&.empty {
				background: @light-pie-empty-color;	
			}

			&.full {
				background: @light-pie-full-color;
			}

			&.half-full {
				background-image: linear-gradient(to right,
					transparent 50%,
					@light-pie-full-color 0%);
			}

			&.half-empty {
				background-image: linear-gradient(to right,
					transparent 50%,
					@light-pie-empty-color 0%);
			}
		}
	}
}