/******************************************************************************\
|                                                                              |
|                                 _lighting.scss                               |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2023, Specular CSS, http://www.specularcss.org          |
\******************************************************************************/

//
// variables
//

$light-color: var(--light-color);
$light-direction: var(--light-direction);
$ambient-color: var(--ambient-color);

//
// mixins
//

@function lighten($color, $amount) {
	@return color-mix(in srgb, $light-color $amount, $color);
}

@function darken($color, $amount) {
	@return color-mix(in srgb, $ambient-color $amount, $color);
}

//
// styles
//

:root {
	--light-direction: to bottom;
	--ambient-color: rgb(0, 0, 127);
	--light-color: white;
}