/******************************************************************************\
|                                                                              |
|                             colored-buttons.less                             |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// button coloring
//

.color-button (@button-color) {

	&:hover {
		background: @button-color;
		border-color: @button-color;	
	}

	&:active {
		background: darken(@button-color, 5%);
		border-color: darken(@button-color, 5%);	
	}	
}

.dark-color-button (@button-color) {

	&:hover {
		background: @button-color;
		border-color: @button-color;	
	}

	&:active {
		background: lighten(@button-color, 5%);
		border-color: lighten(@button-color, 5%);	
	}	
}

//
// styled button coloring
//

.color-btn (@button-color) {
	background: @button-color;
	border-color: @button-color;

	&:hover {
		background: darken(@button-color, 5%);
		border-color: darken(@button-color, 5%);
	}

	&:active {
		background: darken(@button-color, 10%);
		border-color: darken(@button-color, 10%);	
	}	
}

.dark-color-btn (@button-color) {
	background: @button-color;
	border-color: @button-color;

	&:hover {
		background: lighten(@button-color, 5%);
		border-color: lighten(@button-color, 5%);
	}

	&:active {
		background: lighten(@button-color, 10%);
		border-color: lighten(@button-color, 10%);	
	}	
}

//
// disabled buttons
//

.color-disabled-btn (@button-color) {
	background: @button-color;
	border-color: @button-color;
}

//
// button label coloring
//

.color-button-label (@label-color) {
	color: @label-color;

	span {
		color: @label-color;
	}	
}

.color-button-icon (@icon-color) {
	i {
		color: @icon-color;
	}

	svg {
		fill: @icon-color;
	}	
}

.label-button (@label-color) {
	&:hover {
		.color-button-label(@label-color);
		.color-button-icon(@label-color);
	}
	&.selected {
		.color-button-label(@label-color);
		.color-button-icon(@label-color);
	}
}

.label-btn (@label-color) {
	.color-button-label(@label-color);
	.color-button-icon(@label-color);
}

.label-disabled-btn (@label-color) {
	&:not(.btn-primary) {
		.color-button-label(@label-color);
		.color-button-icon(@label-color);
	}
}