/******************************************************************************\
|                                                                              |
|                                  colors.less                                 |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// special colors
//

@success-color:			saturate(@light-green, 20%);
@caution-color:			saturate(mix(@light-gold, @light-orange), 20%);
@warning-color: 		saturate(mix(@light-orange, @light-red), 20%);
@error-color: 			saturate(lighten(@light-red, 10%), 20%);

@highlight-color: 		@very-light-grey;
@disabled-color: 		fade(@very-light-grey, 50%);