/******************************************************************************\
|                                                                              |
|                              colored-buttons.less                            |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// primary button colors
//

@button-primary-color: @highlight-color;
@button-primary-label-color: white;

//
// button styles
//

body:not(.binary).colored.cyan {

	//
	// styled buttons
	//

	.btn {

		//
		// primary buttons
		//

		&.btn-primary {
			.color-btn(@button-primary-color);
			.label-btn(@button-primary-label-color);

			&:disabled {
				.color-disabled-btn(@button-primary-color);
				.label-disabled-btn(@button-primary-label-color);
			}
		}
	}
}