/******************************************************************************\
|                                                                              |
|                              dark-dialogs.less                               |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// dark dialog colors
//

@dark-modal-header-color: darken(@very-dark-grey, 5%);
@dark-title-icon-color: @brand-light;
@dark-title-color: white;
@dark-modal-background-color: @ultra-dark-grey;
@dark-modal-footer-color: @dark-modal-header-color;
@dark-modal-border-color: @very-dark-grey;

@dark-modal-unfocused-header-color: darken(@dark-modal-header-color, 10%);
@dark-modal-unfocused-title-icon-color: @dark-title-icon-color;
@dark-modal-unfocused-title-color: @dark-title-color;
@dark-modal-unfocused-background-color: @dark-modal-background-color;
@dark-modal-unfocused-footer-color: darken(@dark-modal-footer-color, 10%);
@dark-modal-unfocused-border-color: darken(@dark-modal-border-color, 10%);

//
// dark dialog styles
//

body:not(.binary).dark {
	.modals {

		.modal-dialog {
			.modal-content {
				color: @light-text-color;
			}
		}

		//
		// dark focused dialogs
		//

		.modal.focused .modal-dialog {
			border-color: @dark-modal-border-color !important;

			.modal-header {
				.flat(@dark-modal-header-color, @dark-border-style);

				.icon {

					//
					// title icon color
					//

					i {
						color: @dark-title-icon-color;
					}

					svg {
						fill: @dark-title-icon-color;
					}
				}

				.title {

					// clipped title ellipsis color
					//
					color: @dark-title-color;

					// title header text color
					//
					h1 {
						color: @dark-title-color;
					}
				}
			}

			.modal-content {
				.flat(@dark-modal-background-color, @dark-border-style);

				.modal-footer {
					.flat(@dark-modal-footer-color, @dark-border-style);
				}
			}
		}

		//
		// dark unfocused dialogs
		//

		.modal:not(.focused) .modal-dialog {
			border-color: @dark-modal-unfocused-border-color !important;

			.modal-header {
				.flat(@dark-modal-unfocused-header-color, @dark-border-style);

				.icon {

					//
					// dark unfocused title icon color
					//

					i {
						color: @dark-modal-unfocused-title-icon-color;
					}

					svg {
						fill: @dark-modal-unfocused-title-icon-color;
					}
				}

				.title {

					// clipped title ellipsis color
					//
					color: @dark-modal-unfocused-title-color;

					// title header text color
					//
					h1 {
						color: @dark-modal-unfocused-title-color;
					}
				}
			}

			.modal-content {
				.flat(@dark-modal-unfocused-background-color, @dark-border-style);

				.modal-footer {
					.flat(@dark-modal-unfocused-footer-color, @dark-border-style);
				}
			}
		}
	}

	//
	// transparent (non full screen) dialogs
	//

	&.transparent .modals {
		.modal:not(.full-screen) {

			.modal-dialog:not(.maximized) {
				background: transparent !important;
			}

			&.focused .modal-dialog {
				.modal-content {
					.plate-glass(@dark-modal-background-color, @transparent-dialog-opacity);
				}
			}

			&:not(.focused) .modal-dialog {
				.modal-content {
					.plate-glass(@dark-modal-unfocused-background-color, @transparent-dialog-opacity);
				}
			}
		}
	}

	//
	// translucent (non full screen) dialogs
	//

	&.translucent .modals {
		.modal:not(.full-screen) {

			.modal-dialog {
				&.maximized {
					background: black;
				}

				&:not(.maximized) {
					background: transparent;
				}
			}

			&.focused .modal-dialog {
				.modal-content {
					.frosted-plate-glass(@dark-modal-background-color, @translucent-dialog-opacity);
					overflow: visible;
				}
			}

			&:not(.focused) .modal-dialog {
				.modal-content {
					.frosted-plate-glass(@dark-modal-unfocused-background-color, @translucent-dialog-opacity);
					overflow: visible;
				}
			}
		}
	}
}