/******************************************************************************\
|                                                                              |
|                              medium-dialogs.less                             |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// dialog colors
//

@modal-header-color: @highlight-color;
@title-icon-color: @very-very-light-grey;
@title-color: white;
@modal-border-color: @modal-header-color;

@modal-unfocused-header-color: darken(@modal-header-color, 10%);
@modal-unfocused-title-icon-color: @title-icon-color;
@modal-unfocused-title-color: @title-color;
@modal-unfocused-border-color: darken(@modal-border-color, 20%);

//
// dialog styles
//

body:not(.binary).colorful.orange {
	& {
		.modals {

			//
			// focused dialogs
			//

			.modal.focused .modal-dialog {
				border-color: @modal-border-color !important;

				.modal-header {
					.flat(@modal-header-color, outset);

					.icon {

						//
						// title icon color
						//

						i {
							color: @title-icon-color;
						}

						svg {
							fill: @title-icon-color;
						}
					}

					.title {

						// clipped title ellipsis color
						//
						color: @title-color;

						// title header text color
						//
						h1 {
							color: @title-color;
						}
					}
				}
			}

			//
			// unfocused dialogs
			//

			.modal:not(.focused) .modal-dialog {
				border-color: @modal-unfocused-border-color !important;

				.modal-header {
					.flat(@modal-unfocused-header-color, outset);

					.icon {

						//
						// unfocused title icon color
						//

						i {
							color: @modal-unfocused-title-icon-color;
						}

						svg {
							fill: @modal-unfocused-title-icon-color;
						}
					}

					.title {

						// clipped title ellipsis color
						//
						color: @modal-unfocused-title-color;

						// title header text color
						//
						h1 {
							color: @modal-unfocused-title-color;
						}
					}
				}
			}
		}
	}
}