/******************************************************************************\
|                                                                              |
|                            colored-scrollbars.less                           |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// scrollbar colors
//

@scrollbar-active-color: @button-primary-color;

//
// scrollbar styles
//

body:not(.binary).colored.gold {

	//
	// scrollbar thumbs
	//

	::-webkit-scrollbar-thumb:active {
		background-color: @scrollbar-active-color;
	}
}