/******************************************************************************\
|                                                                              |
|                              dark-item-tiles.less                            |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// dark tile grid colors
//

@dark-tile-background: fade(@very-light-grey, 25%);
@dark-tile-grid-color: white;
@dark-tile-grid-background-color: @ultra-dark-grey;
@dark-tile-name-color: @light-text-color;
@dark-tile-name-background-color: fade(black, 50%);
@dark-tile-details-background-color: fade(@very-light-grey, 50%);
@dark-tile-highlighted-border-color: @very-light-grey;
@dark-tile-selected-border-color: @very-light-grey;

//
// dark tile grid styles
//

body:not(.binary).dark {
	.tile-grid {

		//
		// items
		//

		.item {

			> .tile {
				background-color: @dark-tile-background;

				.name {
					color: @dark-tile-name-color;
					background-color: @dark-tile-name-background-color;

					//
					// editable names
					//

					&[contenteditable="true"] {
						color: @dark-text-color;
						background-color: white;
						outline-color: @edit-highlight-color;
					}
				}
			}

			> .specifics {
				.details {
					background-color: @dark-tile-details-background-color;
				}
			}
		}

		//
		// highlighted items
		//

		.item.highlighted {

			.tile {
				border-color: @dark-tile-highlighted-border-color;

				.thumbnail::after {
					border-color: @dark-tile-highlighted-border-color;
				}

				.name {

					//
					// uneditable names
					//

					&:not([contenteditable="true"]) {
						color: white;
						background-color: @highlight-color;
					}

					//
					// editable names
					//

					&[contenteditable="true"] {
						border-top-color: @highlight-color;
					}
				}
			}
		}
		
		//
		// selected items
		//

		.item.selected {

			.tile {
				border-color: @dark-tile-selected-border-color;

				.thumbnail::after {
					border-color: @dark-tile-selected-border-color;
				}

				.name {

					//
					// uneditable names
					//

					&:not([contenteditable="true"]) {
						color: white;
					}

					//
					// editable names
					//

					&[contenteditable="true"] {
						border-top-color: @select-color;
					}
				}
			}

			.details {
				color: white;
				background-color: @select-color;
			}
		}
	}

	//
	// unfocused items
	//

	.modal:not(.focused) .modal-dialog,
	.desktop.app:not(.focused) > .body {
		.tile-grid {

			.item.selected {

				.tile {
					border-color: @highlight-color;

					.thumbnail::after {
						border-color: @highlight-color;
					}

					.name {

						//
						// uneditable names
						//

						&:not([contenteditable="true"]) {
							color: white;
							background-color: @highlight-color;
						}

						//
						// editable names
						//

						&[contenteditable="true"] {
							color: @dark-text-color;
							background-color: white;
							outline-color: @edit-highlight-color;
						}
					}
				}

				.details {
					color: white;
					background-color: @highlight-color;
				}
			}
		}
	}
}