/******************************************************************************\
|                                                                              |
|                              dark-item-lists.less                            |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// dark item list colors
//

@dark-odd-list-item-background-color: @odd-list-item-background-color;
@dark-list-item-info-color: @light-text-color;

//
// dark item list styles
//

body:not(.binary).dark {
	.item-list {

		//
		// dark items
		//

		.item {
			> .info {

				//
				// list item icons
				//

				/*
				.icon {
					i, i.fa-spinner {
						color: @light-text-color;
					}
				}
				*/

				//
				// list item specifics
				//

				> .specifics {
					.details {
						color: @light-text-color;

						i.fa-info-circle {
							color: @dark-list-item-info-color;
						}
					}
				}
			}
		}

		//
		// dark highlighted items
		//

		.item.highlighted {
			> .info {
				background-color: @highlight-color;

				.name {

					//
					// uneditable names
					//

					&:not([contenteditable="true"]) {
						color: white;
						background-color: @highlight-color;
					}
				}

				.details {
					color: white;
					background-color: @highlight-color;
				}
			}
		}

		//
		// dark selected items
		//

		.item.selected {
			> .info {
				background-color: @dark-select-color;

				.icon {

					i {
						color: @dark-select-color;
					}

					/*
					.thumbnail {
						&::after {
							background: fade(@dark-select-color; 50%);
						}
					}
					*/
				}

				.name {

					//
					// uneditable names
					//

					&:not([contenteditable="true"]) {
						color: white;
						background-color: @dark-select-color;
					}
				}

				.details {
					color: white;
					background-color: @dark-select-color;
				}
			}

			/*
			&.pdf, &.svg {
				.icon {
					&::after {
						background: fade(@dark-select-color; 50%);
					}
				}
			}
			*/
		}

		//
		// dark zebra striping
		//

		&:not(.inline) {

			.item:nth-child(odd):not(.selected):not(.highlighted) {
				> div.info {
					background-color: @dark-odd-list-item-background-color;
				}
			}
		}

		//
		// dragged file and directory styles
		//

		.drag-image {

			//
			// no zebra striping
			//

			.item:nth-child(odd):not(.selected):not(.highlighted) {
				> .info {
					background: none;
				}
			}
		}
	}
}