/******************************************************************************\
|                                                                              |
|                            medium-item-cards.less                            |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// card grid colors
//

@cards-background-color: transparent;
@cards-border-color: transparent;
@card-background-color: fade(@very-light-grey, 25%);
@card-border-color: transparent;
@card-highlighted-background-color: @highlight-color;
@card-highlighted-border-color: @highlight-color;
@card-selected-background-color: @select-color;
@card-selected-border-color: @select-color;

// card material colors
//
@card-highlight-angle: 150deg;

//
// card grid styles
//

body:not(.binary) {
	.card-grid {
	
		.cards {
			background-color: @cards-background-color;
			border-color: @cards-border-color;

			//
			// items
			//
			
			.item {
				.card {
					background-color: @card-background-color;
					border-color: @card-border-color;

					.icon {
						> img {
							filter: @thumbnail-shadow;
						}
					}

					.info {

						.name {

							//
							// editable names
							//

							&[contenteditable="true"] {
								color: @dark-text-color;
								background-color: white;
								outline-color: @edit-highlight-color;
							}
						}

						.details {
							background-color: @item-details-background-color;
						}
					}
				}
			}

			//
			// highlighted items
			//

			.item.highlighted {
				.card {
					color: white;
					background-color: @card-highlighted-background-color;
					border-color: @card-highlighted-border-color;

					/*
					.icon {
						i {
							color: white;
						}
					}
					*/

					.info {
						.name {

							//
							// uneditable names
							//

							&:not([contenteditable="true"]) {
								color: white;
								background-color: @highlight-color;
							}
						}

						.details {
							color: white;
							background-color: @highlight-color;
						}
					}

					a {
						color: white;
					}
				}
			}

			//
			// selected items
			//

			.item.selected {
				.card {
					color: white;

					/*
					.icon {
						i {
							color: white;
						}
					}
					*/
					
					.info {
						.name {

							//
							// uneditable names
							//

							&:not([contenteditable="true"]) {
								color: white;
								background-color: @select-color;
							}
						}

						.details {
							color: white;
							background-color: @select-color;
						}
					}

					a {
						color: white;
					}
				}
			}
		}
	}

	//
	// unfocused items
	//

	.modal:not(.focused) .modal-dialog,
	.desktop.app:not(.focused) > .body {
		.card-grid {
			.cards {

				//
				// selected items
				//

				.item.selected {
					.card {
						background-color: @card-highlighted-background-color;
						border-color: @card-highlighted-border-color;

						.info {
							.name {

								//
								// uneditable names
								//

								&:not([contenteditable="true"]) {
									color: white;
									background-color: @highlight-color;
								}
							}

							.details {
								color: white;
								background-color: @highlight-color;
							}
						}
					}
				}
			}
		}
	}
}