/******************************************************************************\
|                                                                              |
|                            medium-item-trees.less                            |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// item tree styles
//

body:not(.binary) {
	.item-tree {

		//
		// tree expanders
		//

		&:not(.selected):not(.highlighted) {
			> .info {
				.expander {
					button i {
						color: @dark-text-color;
					}
				}
			}
		}

		&.selected, &.highlighted {
			> .info {
				.expander {
					button i {
						color: white;
					}
				}
			}
		}

		//
		// tree icons
		//

		&:not(.selected):not(.highlighted) {
			> .info {
				.icon {
					// i.fa-folder, i.fa-folder-open {
					i {
						color: tan !important;
					}
				}
			}
		}
	}
}