/******************************************************************************\
|                                                                              |
|                             accented-sliders.less                            |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// slider colors
//

@slider-thumb-color: @accent-color;
@slider-thumb-hover-color: darken(@slider-thumb-color, 10%);

//
// slider styles
//

body:not(.binary).colored.red-accented {
	input[type="range"] {

		//
		// slider thumbs
		//

		&::-webkit-slider-thumb:not(:active) {
			background-color: @slider-thumb-color;
			border-color: @slider-thumb-color;

			&:hover {
				background-color: @slider-thumb-hover-color;
				border-color: @slider-thumb-hover-color;
			}
		}

		//
		// Firefox slider thumbs
		//

		&::-moz-range-thumb:not(:active) {
			background-color: @slider-thumb-color;
			border-color: @slider-thumb-color;

			&:hover {
				background-color: @slider-thumb-hover-color;
				border-color: @slider-thumb-hover-color;
			}
		}

		//
		// IE slider thumbs
		//

		&::-ms-thumb:not(:active) {
			background-color: @slider-thumb-color;
			border-color: @slider-thumb-color;

			&:hover {
				background-color: @slider-thumb-hover-color;
				border-color: @slider-thumb-hover-color;
			}
		}
	}
}