/******************************************************************************\
|                                                                              |
|                             _dark-menu-bars.scss                             |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the SVG DOM element styles for this application.         |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2023, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

@use "../../../../colors/colors";
@use "../navs/dark-menus";

//
// colors
//

$transparent-menu-bar-item-color: colors.faded(white, 25%);

//
// styles
//

body:not(.binary).dark {
	.menu-bar {
	
		> ul.nav-menus {

			> li {
				> a {
					color: dark-menus.$text-color;
					background: none;

					> i {
						color: dark-menus.$icon-color;
					}
				}

				&:not(.disabled) {
					> a {
						&:hover, &:active {
							> i {
								@include colors.glow();
							}
						}
					}
				}
			}

			//
			// disabled menu bar items
			//

			> li.disabled {
				a {
					color: dark-menus.$disabled-text-color;
					background: none;

					> i {
						color: dark-menus.$disabled-text-color;
					}
				}
			}
		}
	}

	//
	// dark transparent desktop menu bar items
	//

	&.transparent, &.translucent {
		&.menu-margins {
			&.dark #desktop,
			#desktop.dark {
				.header-bar {
					.menu-bar {
						> ul.nav-menus {

							> li.open {
								> a, > a:focus, > a:hover, > a:active {
									color: white;
									background: $transparent-menu-bar-item-color;
									border-color: transparent;

									i {
										color: white;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}