/******************************************************************************\
|                                                                              |
|                                dark-badges.less                              |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// dark badge colors
//

@dark-badge-color: @medium-grey;
@dark-badge-text-color: color;
@dark-badge-border-color: white;

//
// dark badge styles
//

body:not(.binary).dark {
	.badge {
		color: @dark-badge-text-color;
		background-color: @dark-badge-color;
		border-color: @dark-badge-border-color !important;

		i {
			color: @dark-badge-text-color;
		}
	}
}