/******************************************************************************\
|                                                                              |
|                            dark-progress-bars.less                           |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// dark progress bar colors
//

@dark-progress-track-color: @very-very-very-dark-grey;
@dark-progress-bar-color: @medium-grey;

//
// dark progress bar styles
//

body:not(.binary).dark {
	.progress {
		background-color: @dark-progress-track-color;
		border-color: darken(@dark-progress-track-color, 10%);

		.bar {
			background-color: @dark-progress-bar-color;
			border-color: darken(@dark-progress-bar-color, 10%);
		}
	}
}