/******************************************************************************\
|                                                                              |
|                                dark-menus.less                               |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the SVG DOM element styles for this application.         |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// dark menu colors
//

@dark-menu-color: darken(@dark-app-background-color, 10%);
@dark-menu-icon-color: @light-grey;
@dark-menu-text-color: @light-text-color;

@dark-menu-disabled-color: none;
@dark-menu-disabled-icon-color: @medium-grey;
@dark-menu-disabled-text-color: @medium-grey;

@dark-menu-border-color: @very-very-dark-grey;
@dark-menu-item-divider-color: lighten(@dark-menu-border-color, 10%);

//
// dark inline menu colors
//

@dark-menu-inline-text-color: @light-text-color;
@dark-menu-inline-icon-color: @light-grey;
@dark-menu-inline-item-odd-color: @dark-odd-list-item-background-color;

//
// dark menu styles
//

body:not(.binary).dark {

	//
	// dark dropdown menus
	//

	.dropdown-menu, .menu-content {
		background: @dark-menu-color;
		border-color: @dark-menu-border-color;
	}

	//
	// dropdown panels
	//

	ul.panels li {
		border-color: @dark-menu-item-divider-color;
	}

	//
	// transparent dropdowns
	//

	&.transparent .dropdown-menu {
		.plate-glass(@dark-menu-color, @frosted-glass-opacity);

		.panel, ul.panels > li:not(:hover) {
			background: none;
		}

		// nested dropdown menus
		//
		.dropdown-menu {
			background-color: @dark-menu-color;
		}
	}

	//
	// translucent dropdowns
	//

	&.translucent {
		.dropdown-menu, .menu-content {
			.frosted-plate-glass(@dark-menu-color);

			.panel, ul.panels > li:not(:hover) {
				background: none;
			}
		}
	}

	&.translucent {
		.dropdown-menu, .menu-content {

			// translucent nested dropdown menus
			//
			.dropdown-menu {
				background-color: @dark-menu-color;
			}
		}
	}

	//
	// dark menus
	//

	.menu, .dropdown-menu {
		color: @dark-menu-text-color;
		border-color: @dark-menu-border-color;

		//
		// dark menu items
		//

		> li {

			//
			// dark enabled menu items
			//

			&:not(.disabled) {
				color: @dark-menu-text-color;

				> a {
					color: @dark-menu-text-color;

					> i {
						color: @dark-menu-icon-color;
						fill: @dark-menu-icon-color;
					}

					//
					// menu check marks
					//

					&:not(.app-item):not(:hover) {
						> i.fa-check {
							color: @dark-menu-text-color;
						}
					}

					&:hover, &:active {
						> i {
							.glowing(white);
						}
					}
				}
			}

			//
			// dark disabled menu items
			//

			&.disabled {
				color: @dark-menu-disabled-text-color;

				> a {
					color: @dark-menu-disabled-text-color;

					> i {
						color: @dark-menu-disabled-icon-color;
						fill: @dark-menu-disabled-icon-color;
					}

					&:hover {
						color: @dark-menu-disabled-text-color;

						> i {
							color: @dark-menu-disabled-icon-color;
							fill: @dark-menu-disabled-icon-color;
						}
					}
				}
			}

			//
			// dark dividers
			//

			&.divider:not(.disabled) {
				border-color: @dark-menu-item-divider-color;
				background-color: @dark-menu-item-divider-color;
			}
		}
	}

	//
	// dark inline menus
	//

	.menu {

		//
		// dark inline menu items
		//

		> li {

			//
			// dark zebra striping
			//

			&:nth-child(odd) {
				background-color: @dark-menu-inline-item-odd-color;
			}

			//
			// dark enabled menu items
			//

			&:not(.disabled) {
				> a {
					color: @dark-menu-inline-text-color;

					> i {
						color: @dark-menu-inline-icon-color;
						fill: @dark-menu-inline-icon-color;
					}
				}
			}
		}
	}

	//
	// transparent menus
	//

	&.transparent {
		.dropdown-menu {
			.plate-glass(@dark-menu-color, @frosted-glass-opacity);

			.panel, ul.panels > li:not(:hover) {
				background: none;
			}

			// nested dropdown menus
			//
			.dropdown-menu {
				background-color: @dark-menu-color;
			}
		}
	}

	//
	// translucent menus
	//

	&.translucent {
		.dropdown-menu {
			.frosted-plate-glass(@dark-menu-color);

			.panel, ul.panels > li:not(:hover) {
				background: none;
			}

			// nested dropdown menus
			//
			.dropdown-menu {
				background-color: @dark-menu-color;
			}
		}
	}
}