/******************************************************************************\
|                                                                              |
|                               dark-buttons.less                              |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// dark button colors
//

@dark-button-color: @medium-grey;
@dark-button-icon-color: white;
@dark-button-label-color: white;

//
// dark primary button colors
//

@dark-button-primary-color: @medium-grey;
@dark-button-primary-label-color: white;

//
// dark disabled button colors
//

@dark-button-disabled-color: @medium-grey;
@dark-button-disabled-label-color: @very-light-grey;

//
// dark button styles
//

body:not(.binary).dark {

	//
	// dark buttons
	//

	button {

		//
		// glow effects
		//

		&:hover, &:active {
			i {
				filter: url(#glowing);
			}
			
			svg {
				overflow: visible;

				path, polygon {
					filter: url(#glowing);
				}
			}
		}
	}

	.button {
		.color-button(@dark-button-color);
		.label-button(@dark-button-label-color);

		&.selected {
			.dark-color-btn(@dark-button-color);
		}
	}

	//
	// dark styled buttons
	//

	.btn {
		.dark-color-btn(@dark-button-color);
		.label-btn(@dark-button-label-color);

		&:not(.btn-sm) {
			.color-button-icon(@dark-button-icon-color);
		}

		//
		// dark primary buttons
		//

		&.btn-primary {
			.dark-color-btn(@dark-button-primary-color);
			.label-btn(@dark-button-primary-label-color);
		}

		//
		// dark disabled buttons
		//

		&:disabled, &.btn-primary:disabled {
			.color-disabled-btn(@dark-button-disabled-color);
			.label-disabled-btn(@dark-button-disabled-label-color);
		}
	}

	//
	// dark expander buttons
	//

	.expander .btn {	
		i {
			color: white !important;
		}
	}
}