/******************************************************************************\
|                                                                              |
|                             medium-nav-bars.less                             |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

// navbar indicator colors
//
@navbar-indicator-color: @brand-light;

//
// navbar styles
//

body:not(.binary) {
	&.monochrome {
		.navbar-inverse {

			//
			// navigation
			//

			.navbar-nav {

				//
				// nav bar indicators
				//

				.indicator {
					.bar {
						.inner {
							background-color: @navbar-indicator-color;
						}
					}
				}
			}
		}
	}
}